openapi: 3.1.0
info:
  title: Nash AI Functions Notifications API
  version: 1.0.0
  description: LLM-backed domain tools
servers:
- url: https://api.sandbox.usenash.com
  description: Sandbox API
- url: https://api.sandbox.ap-southeast-2.usenash.com
  description: Sandbox API (Australia)
- url: https://api.usenash.com
  description: Production API
- url: https://api.ap-southeast-2.usenash.com
  description: Production API (Australia)
tags:
- name: Notifications
  description: Notifications
  x-nash-topic: config
paths:
  /v1/notification-triggers:
    get:
      tags:
      - Notifications
      summary: List Notification Triggers
      description: List notification triggers configured on the authenticated organization. Use the `Nash-Org-Id` header to scope the request to a specific org (e.g. a child org).
      operationId: list_notification_triggers_v1_notification_triggers_get
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListNotificationTriggersResponse'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NashValidationError'
    post:
      tags:
      - Notifications
      summary: Create Notification Trigger
      description: 'Create a notification trigger on the authenticated organization. The request body is a discriminated union on `type`: each trigger type (see GET /v1/notification-triggers/templates) has its own typed `parameters` shape in the OpenAPI schema. An invalid `type` returns a 400 listing all valid types. Use the `Nash-Org-Id` header to scope creation to a specific org (e.g. a child org).'
      operationId: create_notification_trigger_v1_notification_triggers_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateNotificationTriggerInput'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationTriggerResponse'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NashValidationError'
  /v1/notification-triggers/catalog:
    get:
      tags:
      - Notifications
      summary: Get Notification Trigger Catalog
      description: The full notification-trigger catalog. Each entry describes a trigger's `type` slug, human `title`, the `value` used to subscribe automations, the `entityType` (route/delivery/task/order/activity), its `statuses` vocabulary, the JSON Schema of its create `parameters`, and the `supportedFilters` / `supportedActions`. The shared `filterCriteria` (dispatch strategies, contracts, zones, metadata conditions) and `actions` are described once at the top level. Designed for agents and humans to discover what can be automated and how.
      operationId: get_notification_trigger_catalog_v1_notification_triggers_catalog_get
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationTriggerCatalogResponse'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NashValidationError'
  /v1/notification-triggers/templates:
    get:
      tags:
      - Notifications
      summary: List Notification Trigger Templates
      description: List pre-defined notification trigger templates. Each template has a `type` slug (e.g. 'tasks_attempts_exhausted') and a human-readable `title` (e.g. 'Tasks Attempts Exhausted'). Use the `type` when creating a trigger via POST /v1/notification-triggers.
      operationId: list_notification_trigger_templates_v1_notification_triggers_templates_get
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListNotificationTriggerTemplatesResponse'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NashValidationError'
  /v1/notification/{id}/trigger:
    post:
      tags:
      - Notifications
      summary: Trigger Notification
      description: Manually trigger a notification for a specific delivery event. The notification is sent using the configured channel and template for the trigger.
      operationId: trigger_notification_v1_notification__string_id__trigger_post
      parameters:
      - name: id
        in: path
        description: Notification trigger ID
        required: true
        schema:
          title: Id
          type: string
          description: Notification trigger ID
          example: ntf_123
        example: ntf_123
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TriggerNotificationInputSerializer'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TriggerNotificationOutputSerializer'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NashValidationError'
  /v1/organization-management/notifications/deny-list:
    get:
      tags:
      - Notifications
      summary: Get contacts in the deny list.
      description: Retrieve all contacts in the organization's notification deny list. Contacts on this list will not receive delivery notifications.
      operationId: _get_deny_list_v1_organization_management_notifications_deny_list_get
      parameters:
      - name: orgId
        in: query
        description: The organization id to get the deny list for.
        required: false
        schema:
          title: Orgid
          anyOf:
          - type: string
          - type: 'null'
          description: The organization id to get the deny list for.
          default: null
      - name: page
        in: query
        description: Use this parameter to show more pages of results (page starts at 0)..
        required: false
        schema:
          title: Page
          type: integer
          description: Use this parameter to show more pages of results (page starts at 0)..
          default: 0
      - name: pageSize
        in: query
        description: The number of items to return per page.
        required: false
        schema:
          title: Pagesize
          type: integer
          description: The number of items to return per page.
          default: 100
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DenyListResponse'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NashValidationError'
    post:
      tags:
      - Notifications
      summary: Add a contact to the deny list.
      description: Add a contact (phone number or email) to the organization's notification deny list. The contact will no longer receive delivery notifications.
      operationId: _add_contact_to_deny_list_v1_organization_management_notifications_deny_list_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddContactToDenyListSerializer'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DenyList'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NashValidationError'
    delete:
      tags:
      - Notifications
      summary: Remove a contact from the deny list.
      description: Remove a contact from the organization's notification deny list. The contact will resume receiving delivery notifications.
      operationId: _remove_contact_from_deny_list_v1_organization_management_notifications_deny_list_delete
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddContactToDenyListSerializer'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NashValidationError'
components:
  schemas:
    CreateDriverGeolocationTrigger:
      title: CreateDriverGeolocationTrigger
      required:
      - name
      - notificationGroupIds
      - type
      - parameters
      type: object
      properties:
        name:
          title: Name
          minLength: 1
          type: string
          description: Human-readable name for this trigger instance.
        notificationGroupIds:
          title: Notificationgroupids
          type: array
          items:
            type: string
          description: IDs of the notification groups that will receive notifications when this trigger fires.
        description:
          title: Description
          anyOf:
          - type: string
          - type: 'null'
          description: Optional description of the trigger.
          default: null
        enabled:
          title: Enabled
          type: boolean
          description: Whether the trigger is enabled on creation. Defaults to true.
          default: true
        message:
          title: Message
          anyOf:
          - type: string
          - type: 'null'
          description: Optional custom message body.
          default: null
        flag:
          title: Flag
          anyOf:
          - type: boolean
          - type: 'null'
          description: Whether firing this trigger should also flag the job for operator attention.
          default: null
        autoResolveFlag:
          title: Autoresolveflag
          anyOf:
          - type: boolean
          - type: 'null'
          description: If true, a flag raised by this trigger resolves automatically when the flag condition clears.
          default: null
        optionsGroupIds:
          title: Optionsgroupids
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Options groups that scope when this trigger applies.
          default: null
        contractIds:
          title: Contractids
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Contract IDs that scope when this trigger applies.
          default: null
        isInternal:
          title: Isinternal
          anyOf:
          - type: boolean
          - type: 'null'
          description: Whether the trigger is for internal use only (not exposed to customers).
          default: null
        zoneIds:
          title: Zoneids
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Zone IDs that scope when this trigger applies (separate from zone-geolocation parameters).
          default: null
        customEventName:
          title: Customeventname
          anyOf:
          - minLength: 1
            type: string
          - type: 'null'
          description: For triggers that emit a custom event when fired, the name of that event.
          default: null
        conditionalLogic:
          title: Conditionallogic
          anyOf:
          - type: object
            additionalProperties: true
          - type: 'null'
          description: Optional AND/OR conditional tree that gates when the trigger fires. Shape mirrors the Zod ConditionalStatement schema in nash-ui; currently passed through as JSON. A follow-up will type this explicitly.
          default: null
        type:
          title: Type
          type: string
          const: driver_geolocation
        parameters:
          title: Parameters
          oneOf:
          - $ref: '#/components/schemas/DriverGeolocationWithinParams'
          - $ref: '#/components/schemas/DriverGeolocationGreaterThanParams'
          - $ref: '#/components/schemas/DriverGeolocationStoppedForParams'
          discriminator:
            propertyName: condition
            mapping:
              greater_than: '#/components/schemas/DriverGeolocationGreaterThanParams'
              stopped_for: '#/components/schemas/DriverGeolocationStoppedForParams'
              within: '#/components/schemas/DriverGeolocationWithinParams'
    NashErrorDetails:
      title: NashErrorDetails
      required:
      - code
      - message
      type: object
      properties:
        code:
          title: Code
          type: string
        message:
          title: Message
          type: string
        details:
          title: Details
          anyOf:
          - type: object
            additionalProperties: true
          - type: 'null'
          default: null
    CreateDeliveryNoteAddedTrigger:
      title: CreateDeliveryNoteAddedTrigger
      required:
      - name
      - notificationGroupIds
      - type
      type: object
      properties:
        name:
          title: Name
          minLength: 1
          type: string
          description: Human-readable name for this trigger instance.
        notificationGroupIds:
          title: Notificationgroupids
          type: array
          items:
            type: string
          description: IDs of the notification groups that will receive notifications when this trigger fires.
        description:
          title: Description
          anyOf:
          - type: string
          - type: 'null'
          description: Optional description of the trigger.
          default: null
        enabled:
          title: Enabled
          type: boolean
          description: Whether the trigger is enabled on creation. Defaults to true.
          default: true
        message:
          title: Message
          anyOf:
          - type: string
          - type: 'null'
          description: Optional custom message body.
          default: null
        flag:
          title: Flag
          anyOf:
          - type: boolean
          - type: 'null'
          description: Whether firing this trigger should also flag the job for operator attention.
          default: null
        autoResolveFlag:
          title: Autoresolveflag
          anyOf:
          - type: boolean
          - type: 'null'
          description: If true, a flag raised by this trigger resolves automatically when the flag condition clears.
          default: null
        optionsGroupIds:
          title: Optionsgroupids
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Options groups that scope when this trigger applies.
          default: null
        contractIds:
          title: Contractids
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Contract IDs that scope when this trigger applies.
          default: null
        isInternal:
          title: Isinternal
          anyOf:
          - type: boolean
          - type: 'null'
          description: Whether the trigger is for internal use only (not exposed to customers).
          default: null
        zoneIds:
          title: Zoneids
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Zone IDs that scope when this trigger applies (separate from zone-geolocation parameters).
          default: null
        customEventName:
          title: Customeventname
          anyOf:
          - minLength: 1
            type: string
          - type: 'null'
          description: For triggers that emit a custom event when fired, the name of that event.
          default: null
        conditionalLogic:
          title: Conditionallogic
          anyOf:
          - type: object
            additionalProperties: true
          - type: 'null'
          description: Optional AND/OR conditional tree that gates when the trigger fires. Shape mirrors the Zod ConditionalStatement schema in nash-ui; currently passed through as JSON. A follow-up will type this explicitly.
          default: null
        type:
          title: Type
          type: string
          const: delivery_note_added
        parameters:
          $ref: '#/components/schemas/_NoParams'
    CreateDemoTrigger:
      title: CreateDemoTrigger
      required:
      - name
      - notificationGroupIds
      - type
      type: object
      properties:
        name:
          title: Name
          minLength: 1
          type: string
          description: Human-readable name for this trigger instance.
        notificationGroupIds:
          title: Notificationgroupids
          type: array
          items:
            type: string
          description: IDs of the notification groups that will receive notifications when this trigger fires.
        description:
          title: Description
          anyOf:
          - type: string
          - type: 'null'
          description: Optional description of the trigger.
          default: null
        enabled:
          title: Enabled
          type: boolean
          description: Whether the trigger is enabled on creation. Defaults to true.
          default: true
        message:
          title: Message
          anyOf:
          - type: string
          - type: 'null'
          description: Optional custom message body.
          default: null
        flag:
          title: Flag
          anyOf:
          - type: boolean
          - type: 'null'
          description: Whether firing this trigger should also flag the job for operator attention.
          default: null
        autoResolveFlag:
          title: Autoresolveflag
          anyOf:
          - type: boolean
          - type: 'null'
          description: If true, a flag raised by this trigger resolves automatically when the flag condition clears.
          default: null
        optionsGroupIds:
          title: Optionsgroupids
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Options groups that scope when this trigger applies.
          default: null
        contractIds:
          title: Contractids
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Contract IDs that scope when this trigger applies.
          default: null
        isInternal:
          title: Isinternal
          anyOf:
          - type: boolean
          - type: 'null'
          description: Whether the trigger is for internal use only (not exposed to customers).
          default: null
        zoneIds:
          title: Zoneids
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Zone IDs that scope when this trigger applies (separate from zone-geolocation parameters).
          default: null
        customEventName:
          title: Customeventname
          anyOf:
          - minLength: 1
            type: string
          - type: 'null'
          description: For triggers that emit a custom event when fired, the name of that event.
          default: null
        conditionalLogic:
          title: Conditionallogic
          anyOf:
          - type: object
            additionalProperties: true
          - type: 'null'
          description: Optional AND/OR conditional tree that gates when the trigger fires. Shape mirrors the Zod ConditionalStatement schema in nash-ui; currently passed through as JSON. A follow-up will type this explicitly.
          default: null
        type:
          title: Type
          type: string
          const: demo
        parameters:
          $ref: '#/components/schemas/_NoParams'
    OrderModifiedParams:
      title: OrderModifiedParams
      required:
      - modifiedFields
      type: object
      properties:
        modifiedFields:
          title: Modifiedfields
          minItems: 1
          type: array
          items:
            $ref: '#/components/schemas/OrderModifiedField'
          description: Order fields whose modification fires the trigger. The trigger fires when any of the selected fields changes on an order. Select one, several, or all fields.
    DriverGeolocationStoppedForParams:
      title: DriverGeolocationStoppedForParams
      required:
      - metricValue
      - deliveryStatus
      type: object
      properties:
        metricValue:
          title: Metricvalue
          type: number
          description: Numeric threshold for the condition.
        deliveryStatus:
          title: Deliverystatus
          minLength: 1
          type: string
          description: Delivery status this rule applies to.
        hasCancellationReason:
          title: Hascancellationreason
          anyOf:
          - type: boolean
          - type: 'null'
          default: null
        firstTaskOnly:
          title: Firsttaskonly
          anyOf:
          - type: boolean
          - type: 'null'
          default: null
        statusHistoryIncludes:
          title: Statushistoryincludes
          anyOf:
          - type: string
          - type: 'null'
          default: null
        statusHistoryDoesNotInclude:
          title: Statushistorydoesnotinclude
          anyOf:
          - type: string
          - type: 'null'
          default: null
        condition:
          title: Condition
          type: string
          default: stopped_for
          const: stopped_for
        metricName:
          title: Metricname
          type: string
          default: minutes
          const: minutes
    StatusTriggeredTooEarlyParams:
      title: StatusTriggeredTooEarlyParams
      required:
      - metricValue
      - deliveryStatus
      type: object
      properties:
        metricValue:
          title: Metricvalue
          type: number
        deliveryStatus:
          title: Deliverystatus
          minLength: 1
          type: string
    SuccessResponse:
      title: SuccessResponse
      required:
      - success
      type: object
      properties:
        success:
          title: Success
          type: boolean
          description: Whether the operation was successful.
      description: Representation of a success response.
    DeliveryIncidentReportParams:
      title: DeliveryIncidentReportParams
      type: object
      properties:
        dirType:
          title: Dirtype
          enum:
          - all
          - refund_request
          type: string
          default: all
        dirCreated:
          title: Dircreated
          type: boolean
          default: false
        dirResolved:
          title: Dirresolved
          type: boolean
          default: false
    CreateOptimizationActionStatusTrigger:
      title: CreateOptimizationActionStatusTrigger
      required:
      - name
      - notificationGroupIds
      - type
      - parameters
      type: object
      properties:
        name:
          title: Name
          minLength: 1
          type: string
          description: Human-readable name for this trigger instance.
        notificationGroupIds:
          title: Notificationgroupids
          type: array
          items:
            type: string
          description: IDs of the notification groups that will receive notifications when this trigger fires.
        description:
          title: Description
          anyOf:
          - type: string
          - type: 'null'
          description: Optional description of the trigger.
          default: null
        enabled:
          title: Enabled
          type: boolean
          description: Whether the trigger is enabled on creation. Defaults to true.
          default: true
        message:
          title: Message
          anyOf:
          - type: string
          - type: 'null'
          description: Optional custom message body.
          default: null
        flag:
          title: Flag
          anyOf:
          - type: boolean
          - type: 'null'
          description: Whether firing this trigger should also flag the job for operator attention.
          default: null
        autoResolveFlag:
          title: Autoresolveflag
          anyOf:
          - type: boolean
          - type: 'null'
          description: If true, a flag raised by this trigger resolves automatically when the flag condition clears.
          default: null
        optionsGroupIds:
          title: Optionsgroupids
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Options groups that scope when this trigger applies.
          default: null
        contractIds:
          title: Contractids
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Contract IDs that scope when this trigger applies.
          default: null
        isInternal:
          title: Isinternal
          anyOf:
          - type: boolean
          - type: 'null'
          description: Whether the trigger is for internal use only (not exposed to customers).
          default: null
        zoneIds:
          title: Zoneids
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Zone IDs that scope when this trigger applies (separate from zone-geolocation parameters).
          default: null
        customEventName:
          title: Customeventname
          anyOf:
          - minLength: 1
            type: string
          - type: 'null'
          description: For triggers that emit a custom event when fired, the name of that event.
          default: null
        conditionalLogic:
          title: Conditionallogic
          anyOf:
          - type: object
            additionalProperties: true
          - type: 'null'
          description: Optional AND/OR conditional tree that gates when the trigger fires. Shape mirrors the Zod ConditionalStatement schema in nash-ui; currently passed through as JSON. A follow-up will type this explicitly.
          default: null
        type:
          title: Type
          type: string
          const: optimization_action_status
        parameters:
          $ref: '#/components/schemas/OptimizationActionStatusParams'
    DenyList:
      title: DenyList
      required:
      - id
      - type
      - value
      type: object
      properties:
        id:
          title: Id
          type: string
          description: The ID of the deny list.
        type:
          title: Type
          type: string
          description: The type of the deny list.
        value:
          title: Value
          type: string
          description: The value of the deny list.
      description: Representation of a Nash deny list.
    FilterValueType:
      title: FilterValueType
      enum:
      - id_list
      - condition_tree
      type: string
      description: How a filter criterion's value is shaped.
    CreateAiConversationCompletedTrigger:
      title: CreateAiConversationCompletedTrigger
      required:
      - name
      - notificationGroupIds
      - type
      type: object
      properties:
        name:
          title: Name
          minLength: 1
          type: string
          description: Human-readable name for this trigger instance.
        notificationGroupIds:
          title: Notificationgroupids
          type: array
          items:
            type: string
          description: IDs of the notification groups that will receive notifications when this trigger fires.
        description:
          title: Description
          anyOf:
          - type: string
          - type: 'null'
          description: Optional description of the trigger.
          default: null
        enabled:
          title: Enabled
          type: boolean
          description: Whether the trigger is enabled on creation. Defaults to true.
          default: true
        message:
          title: Message
          anyOf:
          - type: string
          - type: 'null'
          description: Optional custom message body.
          default: null
        flag:
          title: Flag
          anyOf:
          - type: boolean
          - type: 'null'
          description: Whether firing this trigger should also flag the job for operator attention.
          default: null
        autoResolveFlag:
          title: Autoresolveflag
          anyOf:
          - type: boolean
          - type: 'null'
          description: If true, a flag raised by this trigger resolves automatically when the flag condition clears.
          default: null
        optionsGroupIds:
          title: Optionsgroupids
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Options groups that scope when this trigger applies.
          default: null
        contractIds:
          title: Contractids
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Contract IDs that scope when this trigger applies.
          default: null
        isInternal:
          title: Isinternal
          anyOf:
          - type: boolean
          - type: 'null'
          description: Whether the trigger is for internal use only (not exposed to customers).
          default: null
        zoneIds:
          title: Zoneids
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Zone IDs that scope when this trigger applies (separate from zone-geolocation parameters).
          default: null
        customEventName:
          title: Customeventname
          anyOf:
          - minLength: 1
            type: string
          - type: 'null'
          description: For triggers that emit a custom event when fired, the name of that event.
          default: null
        conditionalLogic:
          title: Conditionallogic
          anyOf:
          - type: object
            additionalProperties: true
          - type: 'null'
          description: Optional AND/OR conditional tree that gates when the trigger fires. Shape mirrors the Zod ConditionalStatement schema in nash-ui; currently passed through as JSON. A follow-up will type this explicitly.
          default: null
        type:
          title: Type
          type: string
          const: ai_conversation_completed
        parameters:
          $ref: '#/components/schemas/_NoParams'
    CreateDeliveryStatusTransitionTrigger:
      title: CreateDeliveryStatusTransitionTrigger
      required:
      - name
      - notificationGroupIds
      - type
      - parameters
      type: object
      properties:
        name:
          title: Name
          minLength: 1
          type: string
          description: Human-readable name for this trigger instance.
        notificationGroupIds:
          title: Notificationgroupids
          type: array
          items:
            type: string
          description: IDs of the notification groups that will receive notifications when this trigger fires.
        description:
          title: Description
          anyOf:
          - type: string
          - type: 'null'
          description: Optional description of the trigger.
          default: null
        enabled:
          title: Enabled
          type: boolean
          description: Whether the trigger is enabled on creation. Defaults to true.
          default: true
        message:
          title: Message
          anyOf:
          - type: string
          - type: 'null'
          description: Optional custom message body.
          default: null
        flag:
          title: Flag
          anyOf:
          - type: boolean
          - type: 'null'
          description: Whether firing this trigger should also flag the job for operator attention.
          default: null
        autoResolveFlag:
          title: Autoresolveflag
          anyOf:
          - type: boolean
          - type: 'null'
          description: If true, a flag raised by this trigger resolves automatically when the flag condition clears.
          default: null
        optionsGroupIds:
          title: Optionsgroupids
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Options groups that scope when this trigger applies.
          default: null
        contractIds:
          title: Contractids
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Contract IDs that scope when this trigger applies.
          default: null
        isInternal:
          title: Isinternal
          anyOf:
          - type: boolean
          - type: 'null'
          description: Whether the trigger is for internal use only (not exposed to customers).
          default: null
        zoneIds:
          title: Zoneids
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Zone IDs that scope when this trigger applies (separate from zone-geolocation parameters).
          default: null
        customEventName:
          title: Customeventname
          anyOf:
          - minLength: 1
            type: string
          - type: 'null'
          description: For triggers that emit a custom event when fired, the name of that event.
          default: null
        conditionalLogic:
          title: Conditionallogic
          anyOf:
          - type: object
            additionalProperties: true
          - type: 'null'
          description: Optional AND/OR conditional tree that gates when the trigger fires. Shape mirrors the Zod ConditionalStatement schema in nash-ui; currently passed through as JSON. A follow-up will type this explicitly.
          default: null
        type:
          title: Type
          type: string
          const: delivery_status_transition
        parameters:
          $ref: '#/components/schemas/DeliveryStatusTransitionParams'
    TimeElapsedSinceStatusParams:
      title: TimeElapsedSinceStatusParams
      required:
      - deliveryStatus
      - deliveryStatusArray
      type: object
      properties:
        checkAfterMinutes:
          title: Checkafterminutes
          anyOf:
          - minimum: 1.0
            type: integer
          - type: 'null'
          default: null
        deliveryStatus:
          title: Deliverystatus
          minLength: 1
          type: string
        statusCondition:
          title: Statuscondition
          enum:
          - in
          - not_in
          type: string
          default: not_in
        deliveryStatusArray:
          title: Deliverystatusarray
          type: array
          items:
            type: string
    CreateRouteStatusTransitionTrigger:
      title: CreateRouteStatusTransitionTrigger
      required:
      - name
      - notificationGroupIds
      - type
      type: object
      properties:
        name:
          title: Name
          minLength: 1
          type: string
          description: Human-readable name for this trigger instance.
        notificationGroupIds:
          title: Notificationgroupids
          type: array
          items:
            type: string
          description: IDs of the notification groups that will receive notifications when this trigger fires.
        description:
          title: Description
          anyOf:
          - type: string
          - type: 'null'
          description: Optional description of the trigger.
          default: null
        enabled:
          title: Enabled
          type: boolean
          description: Whether the trigger is enabled on creation. Defaults to true.
          default: true
        message:
          title: Message
          anyOf:
          - type: string
          - type: 'null'
          description: Optional custom message body.
          default: null
        flag:
          title: Flag
          anyOf:
          - type: boolean
          - type: 'null'
          description: Whether firing this trigger should also flag the job for operator attention.
          default: null
        autoResolveFlag:
          title: Autoresolveflag
          anyOf:
          - type: boolean
          - type: 'null'
          description: If true, a flag raised by this trigger resolves automatically when the flag condition clears.
          default: null
        optionsGroupIds:
          title: Optionsgroupids
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Options groups that scope when this trigger applies.
          default: null
        contractIds:
          title: Contractids
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Contract IDs that scope when this trigger applies.
          default: null
        isInternal:
          title: Isinternal
          anyOf:
          - type: boolean
          - type: 'null'
          description: Whether the trigger is for internal use only (not exposed to customers).
          default: null
        zoneIds:
          title: Zoneids
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Zone IDs that scope when this trigger applies (separate from zone-geolocation parameters).
          default: null
        customEventName:
          title: Customeventname
          anyOf:
          - minLength: 1
            type: string
          - type: 'null'
          description: For triggers that emit a custom event when fired, the name of that event.
          default: null
        conditionalLogic:
          title: Conditionallogic
          anyOf:
          - type: object
            additionalProperties: true
          - type: 'null'
          description: Optional AND/OR conditional tree that gates when the trigger fires. Shape mirrors the Zod ConditionalStatement schema in nash-ui; currently passed through as JSON. A follow-up will type this explicitly.
          default: null
        type:
          title: Type
          type: string
          const: route_status_transition
        parameters:
          anyOf:
          - $ref: '#/components/schemas/RouteStatusTransitionParams'
          - type: 'null'
          default: null
    TaskReassignmentParams:
      title: TaskReassignmentParams
      required:
      - metricValue
      - sendOnEveryTaskReassignment
      type: object
      properties:
        metricValue:
          title: Metricvalue
          type: number
        metricName:
          title: Metricname
          type: string
          default: number_of_times
          const: number_of_times
        sendOnEveryTaskReassignment:
          title: Sendoneverytaskreassignment
          type: boolean
    TaskHealthStatusParams:
      title: TaskHealthStatusParams
      required:
      - status
      - healthStatus
      type: object
      properties:
        status:
          title: Status
          minLength: 1
          type: string
        healthStatus:
          title: Healthstatus
          minLength: 1
          type: string
    InternalDriverNotAssignedParams:
      title: InternalDriverNotAssignedParams
      required:
      - minutes
      type: object
      properties:
        minutes:
          title: Minutes
          type: number
        referenceStatus:
          title: Referencestatus
          enum:
          - job_created
          - pickup_start_time
          type: string
          default: job_created
    CreateOrderModifiedTrigger:
      title: CreateOrderModifiedTrigger
      required:
      - name
      - notificationGroupIds
      - type
      type: object
      properties:
        name:
          title: Name
          minLength: 1
          type: string
          description: Human-readable name for this trigger instance.
        notificationGroupIds:
          title: Notificationgroupids
          type: array
          items:
            type: string
          description: IDs of the notification groups that will receive notifications when this trigger fires.
        description:
          title: Description
          anyOf:
          - type: string
          - type: 'null'
          description: Optional description of the trigger.
          default: null
        enabled:
          title: Enabled
          type: boolean
          description: Whether the trigger is enabled on creation. Defaults to true.
          default: true
        message:
          title: Message
          anyOf:
          - type: string
          - type: 'null'
          description: Optional custom message body.
          default: null
        flag:
          title: Flag
          anyOf:
          - type: boolean
          - type: 'null'
          description: Whether firing this trigger should also flag the job for operator attention.
          default: null
        autoResolveFlag:
          title: Autoresolveflag
          anyOf:
          - type: boolean
          - type: 'null'
          description: If true, a flag raised by this trigger resolves automatically when the flag condition clears.
          default: null
        optionsGroupIds:
          title: Optionsgroupids
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Options groups that scope when this trigger applies.
          default: null
        contractIds:
          title: Contractids
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Contract IDs that scope when this trigger applies.
          default: null
        isInternal:
          title: Isinternal
          anyOf:
          - type: boolean
          - type: 'null'
          description: Whether the trigger is for internal use only (not exposed to customers).
          default: null
        zoneIds:
          title: Zoneids
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Zone IDs that scope when this trigger applies (separate from zone-geolocation parameters).
          default: null
        customEventName:
          title: Customeventname
          anyOf:
          - minLength: 1
            type: string
          - type: 'null'
          description: For triggers that emit a custom event when fired, the name of that event.
          default: null
        conditionalLogic:
          title: Conditionallogic
          anyOf:
          - type: object
            additionalProperties: true
          - type: 'null'
          description: Optional AND/OR conditional tree that gates when the trigger fires. Shape mirrors the Zod ConditionalStatement schema in nash-ui; currently passed through as JSON. A follow-up will type this explicitly.
          default: null
        type:
          title: Type
          type: string
          const: order_modified
        parameters:
          anyOf:
          - $ref: '#/components/schemas/OrderModifiedParams'
          - type: 'null'
          default: null
    DeliveryCompletedTooEarlyParams:
      title: DeliveryCompletedTooEarlyParams
      required:
      - metricValue
      type: object
      properties:
        metricValue:
          title: Metricvalue
          type: number
    CreateStuckStatusTrigger:
      title: CreateStuckStatusTrigger
      required:
      - name
      - notificationGroupIds
      - type
      - parameters
      type: object
      properties:
        name:
          title: Name
          minLength: 1
          type: string
          description: Human-readable name for this trigger instance.
        notificationGroupIds:
          title: Notificationgroupids
          type: array
          items:
            type: string
          description: IDs of the notification groups that will receive notifications when this trigger fires.
        description:
          title: Description
          anyOf:
          - type: string
          - type: 'null'
          description: Optional description of the trigger.
          default: null
        enabled:
          title: Enabled
          type: boolean
          description: Whether the trigger is enabled on creation. Defaults to true.
          default: true
        message:
          title: Message
          anyOf:
          - type: string
          - type: 'null'
          description: Optional custom message body.
          default: null
        flag:
          title: Flag
          anyOf:
          - type: boolean
          - type: 'null'
          description: Whether firing this trigger should also flag the job for operator attention.
          default: null
        autoResolveFlag:
          title: Autoresolveflag
          anyOf:
          - type: boolean
          - type: 'null'
          description: If true, a flag raised by this trigger resolves automatically when the flag condition clears.
          default: null
        optionsGroupIds:
          title: Optionsgroupids
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Options groups that scope when this trigger applies.
          default: null
        contractIds:
          title: Contractids
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Contract IDs that scope when this trigger applies.
          default: null
        isInternal:
          title: Isinternal
          anyOf:
          - type: boolean
          - type: 'null'
          description: Whether the trigger is for internal use only (not exposed to customers).
          default: null
        zoneIds:
          title: Zoneids
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Zone IDs that scope when this trigger applies (separate from zone-geolocation parameters).
          default: null
        customEventName:
          title: Customeventname
          anyOf:
          - minLength: 1
            type: string
          - type: 'null'
          description: For triggers that emit a custom event when fired, the name of that event.
          default: null
        conditionalLogic:
          title: Conditionallogic
          anyOf:
          - type: object
            additionalProperties: true
          - type: 'null'
          description: Optional AND/OR conditional tree that gates when the trigger fires. Shape mirrors the Zod ConditionalStatement schema in nash-ui; currently passed through as JSON. A follow-up will type this explicitly.
          default: null
        type:
          title: Type
          type: string
          const: stuck_status
        parameters:
          $ref: '#/components/schemas/StuckStatusParams'
    CustomEventListenerParams:
      title: CustomEventListenerParams
      required:
      - eventNames
      type: object
      properties:
        eventNames:
          title: Eventnames
          minItems: 1
          type: array
          items:
            type: string
    DriverStackingParams:
      title: DriverStackingParams
      type: object
      properties:
        annotateAllDeliveries:
          title: Annotatealldeliveries
          type: boolean
          default: false
        matchCourierAcrossProviders:
          title: Matchcourieracrossproviders
          type: boolean
          default: false
    ActivityAction:
      title: ActivityAction
      enum:
      - act_dispatch_optimized_orders
      - act_optimize_orders
      - act_optimize_routes
      - act_manifest_orders
      - act_orders_bulk_operation
      - act_orders_bulk_action
      - act_process_csv_upload
      - act_dispatch_routes
      - act_dispatch_delivery_window_orders
      - act_dispatch_and_manifest_batch
      - act_dispatch_and_manifest_chunk
      - generate_refund_ai_analysis_report
      - generate_customer_feedback_report
      - generate_report
      type: string
    OrderModifiedField:
      title: OrderModifiedField
      enum:
      - pickup_time
      - dropoff_time
      - pickup_location
      - dropoff_location
      - pickup_contact
      - dropoff_contact
      - pickup_instructions
      - dropoff_instructions
      - items
      - tip
      - order_value
      type: string
      description: Order fields selectable for the order_modified workflow trigger.
    CreateJobCreationFailedTrigger:
      title: CreateJobCreationFailedTrigger
      required:
      - name
      - notificationGroupIds
      - type
      type: object
      properties:
        name:
          title: Name
          minLength: 1
          type: string
          description: Human-readable name for this trigger instance.
        notificationGroupIds:
          title: Notificationgroupids
          type: array
          items:
            type: string
          description: IDs of the notification groups that will receive notifications when this trigger fires.
        description:
          title: Description
          anyOf:
          - type: string
          - type: 'null'
          description: Optional description of the trigger.
          default: null
        enabled:
          title: Enabled
          type: boolean
          description: Whether the trigger is enabled on creation. Defaults to true.
          default: true
        message:
          title: Message
          anyOf:
          - type: string
          - type: 'null'
          description: Optional custom message body.
          default: null
        flag:
          title: Flag
          anyOf:
          - type: boolean
          - type: 'null'
          description: Whether firing this trigger should also flag the job for operator attention.
          default: null
        autoResolveFlag:
          title: Autoresolveflag
          anyOf:
          - type: boolean
          - type: 'null'
          description: If true, a flag raised by this trigger resolves automatically when the flag condition clears.
          default: null
        optionsGroupIds:
          title: Optionsgroupids
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Options groups that scope when this trigger applies.
          default: null
        contractIds:
          title: Contractids
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Contract IDs that scope when this trigger applies.
          default: null
        isInternal:
          title: Isinternal
          anyOf:
          - type: boolean
          - type: 'null'
          description: Whether the trigger is for internal use only (not exposed to customers).
          default: null
        zoneIds:
          title: Zoneids
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Zone IDs that scope when this trigger applies (separate from zone-geolocation parameters).
          default: null
        customEventName:
          title: Customeventname
          anyOf:
          - minLength: 1
            type: string
          - type: 'null'
          description: For triggers that emit a custom event when fired, the name of that event.
          default: null
        conditionalLogic:
          title: Conditionallogic
          anyOf:
          - type: object
            additionalProperties: true
          - type: 'null'
          description: Optional AND/OR conditional tree that gates when the trigger fires. Shape mirrors the Zod ConditionalStatement schema in nash-ui; currently passed through as JSON. A follow-up will type this explicitly.
          default: null
        type:
          title: Type
          type: string
          const: job_creation_failed
        parameters:
          $ref: '#/components/schemas/_NoParams'
    NotificationTriggerOutputSerializer:
      title: NotificationTriggerOutputSerializer
      required:
      - id
      - name
      type: object
      properties:
        id:
          title: Id
          type: string
          description: Notification trigger ID
        name:
          title: Name
          type: string
          description: Notification trigger name
        description:
          title: Description
          anyOf:
          - type: string
          - type: 'null'
          description: Notification trigger description
          default: null
    CreateStatusChangedTooQuicklyTrigger:
      title: CreateStatusChangedTooQuicklyTrigger
      required:
      - name
      - notificationGroupIds
      - type
      - parameters
      type: object
      properties:
        name:
          title: Name
          minLength: 1
          type: string
          description: Human-readable name for this trigger instance.
        notificationGroupIds:
          title: Notificationgroupids
          type: array
          items:
            type: string
          description: IDs of the notification groups that will receive notifications when this trigger fires.
        description:
          title: Description
          anyOf:
          - type: string
          - type: 'null'
          description: Optional description of the trigger.
          default: null
        enabled:
          title: Enabled
          type: boolean
          description: Whether the trigger is enabled on creation. Defaults to true.
          default: true
        message:
          title: Message
          anyOf:
          - type: string
          - type: 'null'
          description: Optional custom message body.
          default: null
        flag:
          title: Flag
          anyOf:
          - type: boolean
          - type: 'null'
          description: Whether firing this trigger should also flag the job for operator attention.
          default: null
        autoResolveFlag:
          title: Autoresolveflag
          anyOf:
          - type: boolean
          - type: 'null'
          description: If true, a flag raised by this trigger resolves automatically when the flag condition clears.
          default: null
        optionsGroupIds:
          title: Optionsgroupids
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Options groups that scope when this trigger applies.
          default: null
        contractIds:
          title: Contractids
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Contract IDs that scope when this trigger applies.
          default: null
        isInternal:
          title: Isinternal
          anyOf:
          - type: boolean
          - type: 'null'
          description: Whether the trigger is for internal use only (not exposed to customers).
          default: null
        zoneIds:
          title: Zoneids
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Zone IDs that scope when this trigger applies (separate from zone-geolocation parameters).
          default: null
        customEventName:
          title: Customeventname
          anyOf:
          - minLength: 1
            type: string
          - type: 'null'
          description: For triggers that emit a custom event when fired, the name of that event.
          default: null
        conditionalLogic:
          title: Conditionallogic
          anyOf:
          - type: object
            additionalProperties: true
          - type: 'null'
          description: Optional AND/OR conditional tree that gates when the trigger fires. Shape mirrors the Zod ConditionalStatement schema in nash-ui; currently passed through as JSON. A follow-up will type this explicitly.
          default: null
        type:
          title: Type
          type: string
          const: status_changed_too_quickly
        parameters:
          $ref: '#/components/schemas/StatusesChangedTooQuicklyParams'
    ConditionOperator:
      title: ConditionOperator
      enum:
      - equals
      - not_equals
      - greater_than
      - less_than
      - greater_than_or_equal_to
      - less_than_or_equal_to
      - in
      - not_in
      - contains
      - starts_with
      - ends_with
      type: string
      description: 'Operators available in a metadata condition tree.


        Must mirror the operators the runtime evaluator honors in

        ``streaming_service/notifications/utils.py`` (meets_conditional_filter_rules);

        the drift guard in the serializer tests locks this to the assembly dict, which

        is verified against that evaluator.'
    RouteStatusTransitionParams:
      title: RouteStatusTransitionParams
      type: object
      properties:
        routeStatus:
          anyOf:
          - $ref: '#/components/schemas/RouteStatus'
          - type: 'null'
          description: Fire only when a route transitions INTO this status. Omit to fire on every transition.
          default: null
        routeStatuses:
          title: Routestatuses
          anyOf:
          - minItems: 1
            type: array
            items:
              $ref: '#/components/schemas/RouteStatus'
          - type: 'null'
          description: Fire only when a route transitions into one of these statuses. Omit to fire on every transition; an empty list is rejected (the handler treats a falsy list as no scope, so an empty list would silently fire on every transition rather than none).
          default: null
    RefundRequestParams:
      title: RefundRequestParams
      required:
      - statuses
      type: object
      properties:
        statuses:
          title: Statuses
          type: array
          items:
            enum:
            - under_review
            - needs_attention
            - cancelled
            - approved
            - denied
            - nash_approved
            type: string
    DeliveryStatusTransitionParams:
      title: DeliveryStatusTransitionParams
      required:
      - deliveryStatus
      type: object
      properties:
        deliveryStatus:
          title: Deliverystatus
          minLength: 1
          type: string
          description: Delivery status that triggers the notification.
        sendScheduledMessage:
          title: Sendscheduledmessage
          anyOf:
          - type: boolean
          - type: 'null'
          description: If true, schedule the message to send at a later time instead of firing immediately.
          default: null
        scheduledSendDeltaMinutes:
          title: Scheduledsenddeltaminutes
          anyOf:
          - maximum: 4320
            minimum: 15.0
            type: integer
          - type: 'null'
          description: Minutes after the status transition to send the scheduled message (15 min to 3 days).
          default: null
    EntityStatus:
      title: EntityStatus
      enum:
      - archived
      - arrived_at_facility
      - assigned
      - assigned_driver
      - awaiting_consignee_pickup
      - awaiting_consignor_dropoff
      - canceled
      - canceled_by_auto_reassign
      - canceled_by_customer
      - canceled_by_merchant
      - canceled_by_nash
      - canceled_by_provider
      - canceled_by_reassign
      - completed
      - confirmed
      - contacting_provider
      - created
      - delayed
      - departed_from_facility
      - dispatch_failure
      - dispatched
      - dispatched_to_provider
      - dropoff_arrived
      - dropoff_complete
      - dropoff_enroute
      - expired
      - failed
      - in_progress
      - in_transit
      - items_pick_complete
      - label_created
      - manifested
      - needs_attention
      - not_assigned_driver
      - partial_delivered
      - pick_complete
      - picking_complete
      - pickup_arrived
      - pickup_complete
      - pickup_enroute
      - pickup_in_progress
      - planned_selection
      - return_arrived
      - return_in_progress
      - returned
      - returned_to_store
      - running
      - scheduled
      - sent_to_provider
      - started
      - valid
      type: string
    CreateOrderNotDispatchedCloseToPickupTrigger:
      title: CreateOrderNotDispatchedCloseToPickupTrigger
      required:
      - name
      - notificationGroupIds
      - type
      - parameters
      type: object
      properties:
        name:
          title: Name
          minLength: 1
          type: string
          description: Human-readable name for this trigger instance.
        notificationGroupIds:
          title: Notificationgroupids
          type: array
          items:
            type: string
          description: IDs of the notification groups that will receive notifications when this trigger fires.
        description:
          title: Description
          anyOf:
          - type: string
          - type: 'null'
          description: Optional description of the trigger.
          default: null
        enabled:
          title: Enabled
          type: boolean
          description: Whether the trigger is enabled on creation. Defaults to true.
          default: true
        message:
          title: Message
          anyOf:
          - type: string
          - type: 'null'
          description: Optional custom message body.
          default: null
        flag:
          title: Flag
          anyOf:
          - type: boolean
          - type: 'null'
          description: Whether firing this trigger should also flag the job for operator attention.
          default: null
        autoResolveFlag:
          title: Autoresolveflag
          anyOf:
          - type: boolean
          - type: 'null'
          description: If true, a flag raised by this trigger resolves automatically when the flag condition clears.
          default: null
        optionsGroupIds:
          title: Optionsgroupids
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Options groups that scope when this trigger applies.
          default: null
        contractIds:
          title: Contractids
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Contract IDs that scope when this trigger applies.
          default: null
        isInternal:
          title: Isinternal
          anyOf:
          - type: boolean
          - type: 'null'
          description: Whether the trigger is for internal use only (not exposed to customers).
          default: null
        zoneIds:
          title: Zoneids
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Zone IDs that scope when this trigger applies (separate from zone-geolocation parameters).
          default: null
        customEventName:
          title: Customeventname
          anyOf:
          - minLength: 1
            type: string
          - type: 'null'
          description: For triggers that emit a custom event when fired, the name of that event.
          default: null
        conditionalLogic:
          title: Conditionallogic
          anyOf:
          - type: object
            additionalProperties: true
          - type: 'null'
          description: Optional AND/OR conditional tree that gates when the trigger fires. Shape mirrors the Zod ConditionalStatement schema in nash-ui; currently passed through as JSON. A follow-up will type this explicitly.
          default: null
        type:
          title: Type
          type: string
          const: order_not_dispatched_close_to_pickup
        parameters:
          $ref: '#/components/schemas/OrderNotDispatchedParams'
    NotificationTriggerCatalogResponse:
      title: NotificationTriggerCatalogResponse
      type: object
      properties:
        filterCriteria:
          title: Filtercriteria
          type: object
          additionalProperties:
            $ref: '#/components/schemas/FilterCriterion'
          description: Shared filter criteria available to every trigger, keyed by FilterCriterionKey.
        actions:
          title: Actions
          type: array
          items:
            $ref: '#/components/schemas/TriggerAction'
          description: Available action types that can be configured on a trigger.
        triggers:
          title: Triggers
          type: array
          items:
            $ref: '#/components/schemas/TriggerCatalogEntry'
          description: One entry per NotificationTriggerType member.
      description: Full catalog response for GET /v1/notification-triggers/catalog.
    _NoParams:
      title: _NoParams
      type: object
      properties: {}
      description: Empty parameters object for triggers that take no configuration.
    ActivityStatus:
      title: ActivityStatus
      enum:
      - QUEUED
      - IN_PROGRESS
      - SUCCESS
      - FAILED
      - CANCELLED
      - SKIPPED
      - SCHEDULED
      type: string
      description: Status of an activity.
    ZoneGeolocationParams:
      title: ZoneGeolocationParams
      type: object
      properties:
        zoneIds:
          title: Zoneids
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          default: null
    CreateTimingUpdatedTrigger:
      title: CreateTimingUpdatedTrigger
      required:
      - name
      - notificationGroupIds
      - type
      type: object
      properties:
        name:
          title: Name
          minLength: 1
          type: string
          description: Human-readable name for this trigger instance.
        notificationGroupIds:
          title: Notificationgroupids
          type: array
          items:
            type: string
          description: IDs of the notification groups that will receive notifications when this trigger fires.
        description:
          title: Description
          anyOf:
          - type: string
          - type: 'null'
          description: Optional description of the trigger.
          default: null
        enabled:
          title: Enabled
          type: boolean
          description: Whether the trigger is enabled on creation. Defaults to true.
          default: true
        message:
          title: Message
          anyOf:
          - type: string
          - type: 'null'
          description: Optional custom message body.
          default: null
        flag:
          title: Flag
          anyOf:
          - type: boolean
          - type: 'null'
          description: Whether firing this trigger should also flag the job for operator attention.
          default: null
        autoResolveFlag:
          title: Autoresolveflag
          anyOf:
          - type: boolean
          - type: 'null'
          description: If true, a flag raised by this trigger resolves automatically when the flag condition clears.
          default: null
        optionsGroupIds:
          title: Optionsgroupids
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Options groups that scope when this trigger applies.
          default: null
        contractIds:
          title: Contractids
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Contract IDs that scope when this trigger applies.
          default: null
        isInternal:
          title: Isinternal
          anyOf:
          - type: boolean
          - type: 'null'
          description: Whether the trigger is for internal use only (not exposed to customers).
          default: null
        zoneIds:
          title: Zoneids
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Zone IDs that scope when this trigger applies (separate from zone-geolocation parameters).
          default: null
        customEventName:
          title: Customeventname
          anyOf:
          - minLength: 1
            type: string
          - type: 'null'
          description: For triggers that emit a custom event when fired, the name of that event.
          default: null
        conditionalLogic:
          title: Conditionallogic
          anyOf:
          - type: object
            additionalProperties: true
          - type: 'null'
          description: Optional AND/OR conditional tree that gates when the trigger fires. Shape mirrors the Zod ConditionalStatement schema in nash-ui; currently passed through as JSON. A follow-up will type this explicitly.
          default: null
        type:
          title: Type
          type: string
          const: timing_updated
        parameters:
          $ref: '#/components/schemas/_NoParams'
    FilterCriterion:
      title: FilterCriterion
      required:
      - field
      - valueType
      type: object
      properties:
        field:
          title: Field
          type: string
          description: Wire field name on the create/update payload (e.g. 'optionsGroupIds').
        valueType:
          $ref: '#/components/schemas/FilterValueType'
          description: How the value is shaped.
        listEndpoint:
          title: Listendpoint
          anyOf:
          - type: string
          - type: 'null'
          description: Endpoint that lists valid ids, when value_type=id_list.
          default: null
        operators:
          title: Operators
          anyOf:
          - type: array
            items:
              $ref: '#/components/schemas/ConditionOperator'
          - type: 'null'
          description: Operators available, when value_type=condition_tree.
          default: null
        nodeShape:
          title: Nodeshape
          anyOf:
          - type: string
          - type: 'null'
          description: Condition-tree node shape, when value_type=condition_tree.
          default: null
        description:
          title: Description
          type: string
          description: What this filter limits.
          default: ''
      description: A single filter criterion available to all notification triggers.
    CreateApiBasedTrigger:
      title: CreateApiBasedTrigger
      required:
      - name
      - notificationGroupIds
      - type
      type: object
      properties:
        name:
          title: Name
          minLength: 1
          type: string
          description: Human-readable name for this trigger instance.
        notificationGroupIds:
          title: Notificationgroupids
          type: array
          items:
            type: string
          description: IDs of the notification groups that will receive notifications when this trigger fires.
        description:
          title: Description
          anyOf:
          - type: string
          - type: 'null'
          description: Optional description of the trigger.
          default: null
        enabled:
          title: Enabled
          type: boolean
          description: Whether the trigger is enabled on creation. Defaults to true.
          default: true
        message:
          title: Message
          anyOf:
          - type: string
          - type: 'null'
          description: Optional custom message body.
          default: null
        flag:
          title: Flag
          anyOf:
          - type: boolean
          - type: 'null'
          description: Whether firing this trigger should also flag the job for operator attention.
          default: null
        autoResolveFlag:
          title: Autoresolveflag
          anyOf:
          - type: boolean
          - type: 'null'
          description: If true, a flag raised by this trigger resolves automatically when the flag condition clears.
          default: null
        optionsGroupIds:
          title: Optionsgroupids
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Options groups that scope when this trigger applies.
          default: null
        contractIds:
          title: Contractids
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Contract IDs that scope when this trigger applies.
          default: null
        isInternal:
          title: Isinternal
          anyOf:
          - type: boolean
          - type: 'null'
          description: Whether the trigger is for internal use only (not exposed to customers).
          default: null
        zoneIds:
          title: Zoneids
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Zone IDs that scope when this trigger applies (separate from zone-geolocation parameters).
          default: null
        customEventName:
          title: Customeventname
          anyOf:
          - minLength: 1
            type: string
          - type: 'null'
          description: For triggers that emit a custom event when fired, the name of that event.
          default: null
        conditionalLogic:
          title: Conditionallogic
          anyOf:
          - type: object
            additionalProperties: true
          - type: 'null'
          description: Optional AND/OR conditional tree that gates when the trigger fires. Shape mirrors the Zod ConditionalStatement schema in nash-ui; currently passed through as JSON. A follow-up will type this explicitly.
          default: null
        type:
          title: Type
          type: string
          const: api_based
        parameters:
          $ref: '#/components/schemas/_NoParams'
    CreateTasksAttemptsExhaustedTrigger:
      title: CreateTasksAttemptsExhaustedTrigger
      required:
      - name
      - notificationGroupIds
      - type
      type: object
      properties:
        name:
          title: Name
          minLength: 1
          type: string
          description: Human-readable name for this trigger instance.
        notificationGroupIds:
          title: Notificationgroupids
          type: array
          items:
            type: string
          description: IDs of the notification groups that will receive notifications when this trigger fires.
        description:
          title: Description
          anyOf:
          - type: string
          - type: 'null'
          description: Optional description of the trigger.
          default: null
        enabled:
          title: Enabled
          type: boolean
          description: Whether the trigger is enabled on creation. Defaults to true.
          default: true
        message:
          title: Message
          anyOf:
          - type: string
          - type: 'null'
          description: Optional custom message body.
          default: null
        flag:
          title: Flag
          anyOf:
          - type: boolean
          - type: 'null'
          description: Whether firing this trigger should also flag the job for operator attention.
          default: null
        autoResolveFlag:
          title: Autoresolveflag
          anyOf:
          - type: boolean
          - type: 'null'
          description: If true, a flag raised by this trigger resolves automatically when the flag condition clears.
          default: null
        optionsGroupIds:
          title: Optionsgroupids
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Options groups that scope when this trigger applies.
          default: null
        contractIds:
          title: Contractids
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Contract IDs that scope when this trigger applies.
          default: null
        isInternal:
          title: Isinternal
          anyOf:
          - type: boolean
          - type: 'null'
          description: Whether the trigger is for internal use only (not exposed to customers).
          default: null
        zoneIds:
          title: Zoneids
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Zone IDs that scope when this trigger applies (separate from zone-geolocation parameters).
          default: null
        customEventName:
          title: Customeventname
          anyOf:
          - minLength: 1
            type: string
          - type: 'null'
          description: For triggers that emit a custom event when fired, the name of that event.
          default: null
        conditionalLogic:
          title: Conditionallogic
          anyOf:
          - type: object
            additionalProperties: true
          - type: 'null'
          description: Optional AND/OR conditional tree that gates when the trigger fires. Shape mirrors the Zod ConditionalStatement schema in nash-ui; currently passed through as JSON. A follow-up will type this explicitly.
          default: null
        type:
          title: Type
          type: string
          const: tasks_attempts_exhausted
        parameters:
          $ref: '#/components/schemas/_NoParams'
    NotificationTriggerType:
      title: NotificationTriggerType
      enum:
      - 18zdfialfe|Delivery Incident Report
      - 8e2b5ead2b|Statuses changed too quickly
      - z9aaa5b61b|Dropoff Delayed - Dropoff ETA too far after specified dropoff time
      - a62ccd6cf7|Driver Geolocation
      - 8adu432fxx|Pickup Delayed - Pickup ETA too far after specified pickup time
      - 2d00e8337d|Driver location inconsistent with delivery status
      - d9abb5b61b|"Stuck" Status
      - xuf71kdfa7|Task Reassignment
      - 50851e6311|Delivery Status Transition
      - 0slfyzlxy3|Autodispatch Failed
      - qd2910zx34|Address Validation Failed
      - 20231018|Nash order needs attention
      - 20231201|Nash order ready to fulfill
      - ouut3gfaey|Job Creation Failed
      - 6101a86efd|Delivery Cancellation Failed
      - 72f25b6941|Live Monitoring Status
      - a0240620|Internal Driver Not Assigned
      - 8x567890|Invalid Proof of Delivery Photo
      - 9f9uu7z0|Delivery Completed Too Early
      - ix38123456|Order Not Dispatched Close to Pickup
      - 86dc85e3|Tasks Attempts Exhausted
      - 8dxl093456|Refund Request
      - 19f1kx1j2|Optimization Unassigned Order
      - pqr123f5s|Zone Geolocation
      - 2ef442ca|API Based
      - rt32km97j|Status Triggered Too Early
      - 03dekfned|Optimization Action Status
      - az8dfllk8|Driver Stacking
      - b37098781|Time Elapsed Since Status
      - 44t6kh981k|Activity Status Transition
      - k3m8t9zqf|Demo
      - c7e4f91a3b|Custom Event Listener
      - f8d2a1b3c4|Proof of Delivery Uploaded
      - e7c9b5d6a2|Courier Updated
      - d4f6e8a1b9|Timing Updated
      - c3b7d9e2f5|AI Conversation Completed
      - a9f3e0c7d2|Delivery Window Booked Timeout
      - b5e8f2a1d3|Delivery Note Added
      - m4d1f1c8e6|Order Modified
      - a8f3d91c4e|Route Status Transition
      - 7c8a2f9d31|Catchment Violation
      - 1a4d2b7c8e|Late Departure
      - 9b2c8e1d4a|Vehicle Breakdown
      - cnh4a2b8c1|Customer Not Home
      - adb3f7e2c9|Ad-hoc Break
      - vow8c1a2b9|Vehicle Overweight
      - voz1b9c8a4|Vehicle Oversize
      - rfl5d2c7e9|Refuel Request
      type: string
    CreateCourierUpdatedTrigger:
      title: CreateCourierUpdatedTrigger
      required:
      - name
      - notificationGroupIds
      - type
      type: object
      properties:
        name:
          title: Name
          minLength: 1
          type: string
          description: Human-readable name for this trigger instance.
        notificationGroupIds:
          title: Notificationgroupids
          type: array
          items:
            type: string
          description: IDs of the notification groups that will receive notifications when this trigger fires.
        description:
          title: Description
          anyOf:
          - type: string
          - type: 'null'
          description: Optional description of the trigger.
          default: null
        enabled:
          title: Enabled
          type: boolean
          description: Whether the trigger is enabled on creation. Defaults to true.
          default: true
        message:
          title: Message
          anyOf:
          - type: string
          - type: 'null'
          description: Optional custom message body.
          default: null
        flag:
          title: Flag
          anyOf:
          - type: boolean
          - type: 'null'
          description: Whether firing this trigger should also flag the job for operator attention.
          default: null
        autoResolveFlag:
          title: Autoresolveflag
          anyOf:
          - type: boolean
          - type: 'null'
          description: If true, a flag raised by this trigger resolves automatically when the flag condition clears.
          default: null
        optionsGroupIds:
          title: Optionsgroupids
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Options groups that scope when this trigger applies.
          default: null
        contractIds:
          title: Contractids
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Contract IDs that scope when this trigger applies.
          default: null
        isInternal:
          title: Isinternal
          anyOf:
          - type: boolean
          - type: 'null'
          description: Whether the trigger is for internal use only (not exposed to customers).
          default: null
        zoneIds:
          title: Zoneids
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Zone IDs that scope when this trigger applies (separate from zone-geolocation parameters).
          default: null
        customEventName:
          title: Customeventname
          anyOf:
          - minLength: 1
            type: string
          - type: 'null'
          description: For triggers that emit a custom event when fired, the name of that event.
          default: null
        conditionalLogic:
          title: Conditionallogic
          anyOf:
          - type: object
            additionalProperties: true
          - type: 'null'
          description: Optional AND/OR conditional tree that gates when the trigger fires. Shape mirrors the Zod ConditionalStatement schema in nash-ui; currently passed through as JSON. A follow-up will type this explicitly.
          default: null
        type:
          title: Type
          type: string
          const: courier_updated
        parameters:
          $ref: '#/components/schemas/_NoParams'
    NotificationTriggerResponse:
      title: NotificationTriggerResponse
      required:
      - id
      - type
      - name
      - enabled
      type: object
      properties:
        id:
          title: Id
          type: string
          description: Notification trigger ID
        type:
          title: Type
          type: string
          description: Trigger type slug, matching a template from GET /v1/notification-triggers/templates, e.g. 'tasks_attempts_exhausted'.
        name:
          title: Name
          type: string
          description: Human-readable name of this trigger instance
        description:
          title: Description
          anyOf:
          - type: string
          - type: 'null'
          description: Trigger description
          default: null
        enabled:
          title: Enabled
          type: boolean
          description: Whether the trigger is enabled
        notificationGroupIds:
          title: Notificationgroupids
          type: array
          items:
            type: string
          description: Notification group IDs that receive notifications when this trigger fires.
      description: A notification trigger configured on an organization.
    AddContactToDenyListSerializer:
      title: AddContactToDenyListSerializer
      required:
      - type
      - value
      type: object
      properties:
        type:
          title: Type
          type: string
          description: The type of contact to add to the deny list.
        value:
          title: Value
          type: string
          description: The value of the contact to add to the deny list.
      description: Expected payload for endpoint assigning role names to a user.
    DriverLocationVsDeliveryStatusParams:
      title: DriverLocationVsDeliveryStatusParams
      required:
      - metricValue
      - deliveryStatus
      type: object
      properties:
        metricValue:
          title: Metricvalue
          type: number
        metricName:
          title: Metricname
          type: string
          default: miles
          const: miles
        deliveryStatus:
          title: Deliverystatus
          minLength: 1
          type: string
    CreateDriverLocationVsDeliveryStatusTrigger:
      title: CreateDriverLocationVsDeliveryStatusTrigger
      required:
      - name
      - notificationGroupIds
      - type
      - parameters
      type: object
      properties:
        name:
          title: Name
          minLength: 1
          type: string
          description: Human-readable name for this trigger instance.
        notificationGroupIds:
          title: Notificationgroupids
          type: array
          items:
            type: string
          description: IDs of the notification groups that will receive notifications when this trigger fires.
        description:
          title: Description
          anyOf:
          - type: string
          - type: 'null'
          description: Optional description of the trigger.
          default: null
        enabled:
          title: Enabled
          type: boolean
          description: Whether the trigger is enabled on creation. Defaults to true.
          default: true
        message:
          title: Message
          anyOf:
          - type: string
          - type: 'null'
          description: Optional custom message body.
          default: null
        flag:
          title: Flag
          anyOf:
          - type: boolean
          - type: 'null'
          description: Whether firing this trigger should also flag the job for operator attention.
          default: null
        autoResolveFlag:
          title: Autoresolveflag
          anyOf:
          - type: boolean
          - type: 'null'
          description: If true, a flag raised by this trigger resolves automatically when the flag condition clears.
          default: null
        optionsGroupIds:
          title: Optionsgroupids
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Options groups that scope when this trigger applies.
          default: null
        contractIds:
          title: Contractids
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Contract IDs that scope when this trigger applies.
          default: null
        isInternal:
          title: Isinternal
          anyOf:
          - type: boolean
          - type: 'null'
          description: Whether the trigger is for internal use only (not exposed to customers).
          default: null
        zoneIds:
          title: Zoneids
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Zone IDs that scope when this trigger applies (separate from zone-geolocation parameters).
          default: null
        customEventName:
          title: Customeventname
          anyOf:
          - minLength: 1
            type: string
          - type: 'null'
          description: For triggers that emit a custom event when fired, the name of that event.
          default: null
        conditionalLogic:
          title: Conditionallogic
          anyOf:
          - type: object
            additionalProperties: true
          - type: 'null'
          description: Optional AND/OR conditional tree that gates when the trigger fires. Shape mirrors the Zod ConditionalStatement schema in nash-ui; currently passed through as JSON. A follow-up will type this explicitly.
          default: null
        type:
          title: Type
          type: string
          const: driver_location_vs_delivery_status
        parameters:
          $ref: '#/components/schemas/DriverLocationVsDeliveryStatusParams'
    DenyListResponse:
      title: DenyListResponse
      type: array
      items:
        $ref: '#/components/schemas/DenyList'
      description: Representation of a deny list response.
    NotificationTriggerSlug:
      title: NotificationTriggerSlug
      enum:
      - delivery_incident_report
      - status_changed_too_quickly
      - dropoff_delayed
      - driver_geolocation
      - pickup_delayed
      - driver_location_vs_delivery_status
      - stuck_status
      - task_reassignment
      - delivery_status_transition
      - autodispatch_failed
      - address_validation_failed
      - order_needs_attention
      - order_ready_to_fulfill
      - job_creation_failed
      - delivery_cancellation_failed
      - task_health_status
      - internal_driver_not_assigned
      - nash_ai_invalid_pod
      - delivery_completed_too_early
      - order_not_dispatched_close_to_pickup
      - tasks_attempts_exhausted
      - refund_request
      - optimization_order_unassigned
      - zone_geolocation
      - api_based
      - status_triggered_too_early
      - optimization_action_status
      - driver_stacking
      - time_elapsed_since_status
      - activity_status_transition
      - demo
      - custom_event_listener
      - proof_of_delivery_uploaded
      - courier_updated
      - timing_updated
      - ai_conversation_completed
      - delivery_window_booked_timeout
      - delivery_note_added
      - order_modified
      - route_status_transition
      - catchment_violation
      - late_departure
      - vehicle_breakdown
      - customer_not_home
      - adhoc_break
      - vehicle_overweight
      - vehicle_oversize
      - refuel_request
      type: string
    OptimizationActionStatusParams:
      title: OptimizationActionStatusParams
      required:
      - optimizationActionStatus
      type: object
      properties:
        optimizationActionStatus:
          title: Optimizationactionstatus
          enum:
          - failed
          - success
          - skipped
          type: string
    OrderNotDispatchedParams:
      title: OrderNotDispatchedParams
      required:
      - metricValue
      type: object
      properties:
        metricValue:
          title: Metricvalue
          type: number
    CreateTaskHealthStatusTrigger:
      title: CreateTaskHealthStatusTrigger
      required:
      - name
      - notificationGroupIds
      - type
      - parameters
      type: object
      properties:
        name:
          title: Name
          minLength: 1
          type: string
          description: Human-readable name for this trigger instance.
        notificationGroupIds:
          title: Notificationgroupids
          type: array
          items:
            type: string
          description: IDs of the notification groups that will receive notifications when this trigger fires.
        description:
          title: Description
          anyOf:
          - type: string
          - type: 'null'
          description: Optional description of the trigger.
          default: null
        enabled:
          title: Enabled
          type: boolean
          description: Whether the trigger is enabled on creation. Defaults to true.
          default: true
        message:
          title: Message
          anyOf:
          - type: string
          - type: 'null'
          description: Optional custom message body.
          default: null
        flag:
          title: Flag
          anyOf:
          - type: boolean
          - type: 'null'
          description: Whether firing this trigger should also flag the job for operator attention.
          default: null
        autoResolveFlag:
          title: Autoresolveflag
          anyOf:
          - type: boolean
          - type: 'null'
          description: If true, a flag raised by this trigger resolves automatically when the flag condition clears.
          default: null
        optionsGroupIds:
          title: Optionsgroupids
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Options groups that scope when this trigger applies.
          default: null
        contractIds:
          title: Contractids
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Contract IDs that scope when this trigger applies.
          default: null
        isInternal:
          title: Isinternal
          anyOf:
          - type: boolean
          - type: 'null'
          description: Whether the trigger is for internal use only (not exposed to customers).
          default: null
        zoneIds:
          title: Zoneids
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Zone IDs that scope when this trigger applies (separate from zone-geolocation parameters).
          default: null
        customEventName:
          title: Customeventname
          anyOf:
          - minLength: 1
            type: string
          - type: 'null'
          description: For triggers that emit a custom event when fired, the name of that event.
          default: null
        conditionalLogic:
          title: Conditionallogic
          anyOf:
          - type: object
            additionalProperties: true
          - type: 'null'
          description: Optional AND/OR conditional tree that gates when the trigger fires. Shape mirrors the Zod ConditionalStatement schema in nash-ui; currently passed through as JSON. A follow-up will type this explicitly.
          default: null
        type:
          title: Type
          type: string
          const: task_health_status
        parameters:
          $ref: '#/components/schemas/TaskHealthStatusParams'
    DeliveryWindowBookedTimeoutParams:
      title: DeliveryWindowBookedTimeoutParams
      required:
      - timeoutMinutes
      type: object
      properties:
        timeoutMinutes:
          title: Timeoutminutes
          minimum: 1.0
          type: integer
    StatusesChangedTooQuicklyParams:
      title: StatusesChangedTooQuicklyParams
      required:
      - metricValue
      - deliveryStatus1
      - deliveryStatus2
      type: object
      properties:
        metricValue:
          title: Metricvalue
          type: number
        metricName:
          title: Metricname
          type: string
          default: seconds
          const: seconds
        deliveryStatus1:
          title: Deliverystatus1
          minLength: 1
          type: string
        deliveryStatus2:
          title: Deliverystatus2
          minLength: 1
          type: string
    ListNotificationTriggerTemplatesResponse:
      title: ListNotificationTriggerTemplatesResponse
      type: object
      properties:
        templates:
          title: Templates
          type: array
          items:
            $ref: '#/components/schemas/NotificationTriggerTemplateResponse'
    CreateOrderNeedsAttentionTrigger:
      title: CreateOrderNeedsAttentionTrigger
      required:
      - name
      - notificationGroupIds
      - type
      - parameters
      type: object
      properties:
        name:
          title: Name
          minLength: 1
          type: string
          description: Human-readable name for this trigger instance.
        notificationGroupIds:
          title: Notificationgroupids
          type: array
          items:
            type: string
          description: IDs of the notification groups that will receive notifications when this trigger fires.
        description:
          title: Description
          anyOf:
          - type: string
          - type: 'null'
          description: Optional description of the trigger.
          default: null
        enabled:
          title: Enabled
          type: boolean
          description: Whether the trigger is enabled on creation. Defaults to true.
          default: true
        message:
          title: Message
          anyOf:
          - type: string
          - type: 'null'
          description: Optional custom message body.
          default: null
        flag:
          title: Flag
          anyOf:
          - type: boolean
          - type: 'null'
          description: Whether firing this trigger should also flag the job for operator attention.
          default: null
        autoResolveFlag:
          title: Autoresolveflag
          anyOf:
          - type: boolean
          - type: 'null'
          description: If true, a flag raised by this trigger resolves automatically when the flag condition clears.
          default: null
        optionsGroupIds:
          title: Optionsgroupids
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Options groups that scope when this trigger applies.
          default: null
        contractIds:
[...]
