openapi: 3.1.0
info:
  title: Nash AI Functions Order API
  version: 1.0.0
  description: LLM-backed domain tools
servers:
- url: https://api.sandbox.usenash.com
  description: Sandbox API
- url: https://api.sandbox.ap-southeast-2.usenash.com
  description: Sandbox API (Australia)
- url: https://api.usenash.com
  description: Production API
- url: https://api.ap-southeast-2.usenash.com
  description: Production API (Australia)
tags:
- name: Order
  description: Order
  x-nash-topic: wismo
paths:
  /v1/order:
    post:
      tags:
      - Order
      summary: Create Order
      description: Create a pre-dispatch order with pickup and dropoff details. Orders are flexible data structures that become packages when dispatched to a provider.
      operationId: create_order_v1_order_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderInput'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderOutputExample'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NashValidationError'
  /v1/order/external-identifier/{externalId}:
    post:
      tags:
      - Order
      summary: Create or update order by external identifier
      description: Create a new order or update an existing one using your external identifier. If an order with the given external identifier exists, it is updated; otherwise a new order is created.
      operationId: upsert_order_by_external_id_v1_order_external_identifier__string_externalId__post
      parameters:
      - name: externalId
        in: path
        description: The external id of the order to update
        required: true
        schema:
          title: Externalid
          type: string
          description: The external id of the order to update
          example: '1234567890'
        example: '1234567890'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderInputWithReturnFirstQuoteApiOnly'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderOutputExample'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NashValidationError'
  /v1/order/external-identifier/{externalId}/autodispatch:
    post:
      tags:
      - Order
      summary: Autodispatch order by external identifier
      description: Dispatch an order using your external identifier and the organization's dispatch strategy. Creates a job, requests quotes, and automatically selects the best quote.
      operationId: autodispatch_order_by_external_id_v1_order_external_identifier__string_externalId__autodispatch_post
      parameters:
      - name: externalId
        in: path
        description: The external id of the order to update
        required: true
        schema:
          title: Externalid
          type: string
          description: The external id of the order to update
          example: '1234567890'
        example: '1234567890'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FullJobPayload'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NashValidationError'
  /v1/order/external-identifier/{externalId}/delivery-window:
    post:
      tags:
      - Order
      summary: Upsert order by external identifier with delivery window
      description: Create or update an order by external identifier and associate it with a delivery window. The order is linked to the specified delivery window for scheduled delivery.
      operationId: upsert_order_with_delivery_window_v1_order_external_identifier__string_externalId__delivery_window_post
      parameters:
      - name: externalId
        in: path
        description: The external id of the order to update
        required: true
        schema:
          title: Externalid
          type: string
          description: The external id of the order to update
          example: '1234567890'
        example: '1234567890'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderWithDeliveryWindowInput'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderWithDeliveryWindowOutputExample'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NashValidationError'
  /v1/order/get_quotes:
    post:
      tags:
      - Order
      summary: Get order quotes
      description: Request delivery price quotes from available providers for an order. Returns the order with attached quotes that can be selected to dispatch.
      operationId: get_order_quotes_v1_order_get_quotes_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderInputWithReturnFirstQuoteApiOnly'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderOutputExample'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NashValidationError'
  /v1/order/refresh_quotes:
    post:
      tags:
      - Order
      summary: Refresh order quotes
      description: Request fresh price quotes from delivery providers for an existing order. Replaces any existing quotes with updated pricing from available providers.
      operationId: refresh_order_quotes_v1_order_refresh_quotes_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshOrderQuotesInput'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefreshOrderQuotesOutputExample'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NashValidationError'
  /v1/order/{id}:
    get:
      tags:
      - Order
      summary: Get order
      description: Retrieve a single order by ID, including its pickup/dropoff details, status, and metadata.
      operationId: get_order_v1_order__string_id__get
      parameters:
      - name: id
        in: path
        description: 'Unique reference number for the order: either order.id (starts with "ord_") or order.externalId'
        required: true
        schema:
          title: Id
          type: string
          description: 'Unique reference number for the order: either order.id (starts with "ord_") or order.externalId'
          example: ord_1234567890
        example: ord_1234567890
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderOutputExample'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NashValidationError'
    delete:
      tags:
      - Order
      summary: Archive order
      description: Archive (soft-delete) an order. Archived orders are hidden from default listings but can be restored using the unarchive endpoint.
      operationId: archive_order_v1_order__string_id__delete
      parameters:
      - name: id
        in: path
        description: 'Unique reference number for the order: either order.id (starts with "ord_") or order.externalId'
        required: true
        schema:
          title: Id
          type: string
          description: 'Unique reference number for the order: either order.id (starts with "ord_") or order.externalId'
          example: ord_1234567890
        example: ord_1234567890
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderOutputExample'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NashValidationError'
    patch:
      tags:
      - Order
      summary: Update order
      description: Update an existing pre-dispatch order's details such as addresses, times, or metadata. Only provided fields are updated.
      operationId: update_order_v1_order__string_id__patch
      parameters:
      - name: id
        in: path
        description: 'Unique reference number for the order: either order.id (starts with "ord_") or order.externalId'
        required: true
        schema:
          title: Id
          type: string
          description: 'Unique reference number for the order: either order.id (starts with "ord_") or order.externalId'
          example: ord_1234567890
        example: ord_1234567890
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderInputWithReturnFirstQuoteApiOnly'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderOutputExample'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NashValidationError'
  /v1/order/{id}/autodispatch:
    post:
      tags:
      - Order
      summary: Autodispatch order
      description: Dispatch an order using the organization's dispatch strategy. Creates a job, requests quotes from providers, and automatically selects the best quote.
      operationId: autodispatch_order_v1_order__string_id__autodispatch_post
      parameters:
      - name: id
        in: path
        description: 'Unique reference number for the order: either order.id (starts with "ord_") or order.externalId'
        required: true
        schema:
          title: Id
          type: string
          description: 'Unique reference number for the order: either order.id (starts with "ord_") or order.externalId'
          example: ord_1234567890
        example: ord_1234567890
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FullJobPayload'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NashValidationError'
  /v1/order/{id}/confirm:
    patch:
      tags:
      - Order
      summary: Confirm order
      description: Confirm a valid order, changing its status from 'valid' to 'confirmed'.
      operationId: confirm_order_v1_order__string_id__confirm_patch
      parameters:
      - name: id
        in: path
        description: 'Unique reference number for the order: either order.id (starts with "ord_") or order.externalId'
        required: true
        schema:
          title: Id
          type: string
          description: 'Unique reference number for the order: either order.id (starts with "ord_") or order.externalId'
          example: ord_1234567890
        example: ord_1234567890
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderOutputExample'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NashValidationError'
  /v1/order/{id}/documents:
    get:
      tags:
      - Order
      summary: Get order documents
      description: Retrieve documents associated with an order such as shipping labels or proof of delivery. Set load_data=true to include the document content in the response.
      operationId: get_order_documents_v1_order__string_id__documents_get
      parameters:
      - name: id
        in: path
        description: 'Unique reference number for the order: either order.id (starts with "ord_") or order.externalId'
        required: true
        schema:
          title: Id
          type: string
          description: 'Unique reference number for the order: either order.id (starts with "ord_") or order.externalId'
          example: ord_1234567890
        example: ord_1234567890
      - name: loadData
        in: query
        description: Whether to load the document data and return it as part of the response.
        required: true
        schema:
          title: Loaddata
          type: boolean
          description: Whether to load the document data and return it as part of the response.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderDocumentResponse'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NashValidationError'
  /v1/order/{id}/events:
    post:
      tags:
      - Order
      summary: Add custom event to order
      description: Add a custom event to an order's event timeline. Rate limited to 3 requests per second per order with a max payload of 1KB.
      operationId: add_order_event_v1_order__string_id__events_post
      parameters:
      - name: id
        in: path
        description: 'Unique reference number for the order: either order.id (starts with "ord_") or order.externalId'
        required: true
        schema:
          title: Id
          type: string
          description: 'Unique reference number for the order: either order.id (starts with "ord_") or order.externalId'
          example: ord_1234567890
        example: ord_1234567890
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddEventInputSerializer'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddEventOutputSerializer'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NashValidationError'
  /v1/order/{id}/unarchive:
    patch:
      tags:
      - Order
      summary: Unarchive order
      description: Restore a previously archived order, making it visible in default listings again.
      operationId: unarchive_order_v1_order__string_id__unarchive_patch
      parameters:
      - name: id
        in: path
        description: 'Unique reference number for the order: either order.id (starts with "ord_") or order.externalId'
        required: true
        schema:
          title: Id
          type: string
          description: 'Unique reference number for the order: either order.id (starts with "ord_") or order.externalId'
          example: ord_1234567890
        example: ord_1234567890
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderOutputExample'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NashValidationError'
  /v1/orders:
    get:
      tags:
      - Order
      summary: List/Search Orders
      description: List orders with filters, sorting, and pagination. Returns a slim payload suitable for discovery; use GET /v1/order/<id> for full details.
      operationId: list_orders_v1_orders_get
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          title: Limit
          maximum: 100
          minimum: 1.0
          type: integer
          default: 25
          example: 25
        example: 25
      - name: offset
        in: query
        required: false
        schema:
          title: Offset
          minimum: 0.0
          type: integer
          default: 0
          example: 0
        example: 0
      - name: sortBy
        in: query
        description: 'Sort field: created_at, updated_at, value_cents, pickup_start_time, pickup_end_time, dropoff_start_time, dropoff_end_time'
        required: false
        schema:
          title: Sortby
          type: string
          description: 'Sort field: created_at, updated_at, value_cents, pickup_start_time, pickup_end_time, dropoff_start_time, dropoff_end_time'
          default: created_at
          example: created_at
        example: created_at
      - name: sortDirection
        in: query
        description: 'Sort direction: ASC or DESC'
        required: false
        schema:
          title: Sortdirection
          type: string
          description: 'Sort direction: ASC or DESC'
          default: DESC
          example: DESC
        example: DESC
      - name: startDate
        in: query
        description: Lower bound for pickup/dropoff/created-at window. Defaults to 30 days ago.
        required: false
        schema:
          title: Startdate
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          description: Lower bound for pickup/dropoff/created-at window. Defaults to 30 days ago.
          default: null
      - name: endDate
        in: query
        description: Upper bound for pickup/dropoff/created-at window. Defaults to now.
        required: false
        schema:
          title: Enddate
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          description: Upper bound for pickup/dropoff/created-at window. Defaults to now.
          default: null
      - name: status
        in: query
        description: Comma-separated list of order statuses (e.g. active,pending_confirmation)
        required: false
        schema:
          title: Status
          anyOf:
          - type: string
          - type: 'null'
          description: Comma-separated list of order statuses (e.g. active,pending_confirmation)
          default: null
          example: active,pending_confirmation
        example: active,pending_confirmation
      - name: ids
        in: query
        description: Comma-separated list of order ids. Bypasses date filter when set.
        required: false
        schema:
          title: Ids
          anyOf:
          - type: string
          - type: 'null'
          description: Comma-separated list of order ids. Bypasses date filter when set.
          default: null
      - name: tags
        in: query
        description: Comma-separated list of tags
        required: false
        schema:
          title: Tags
          anyOf:
          - type: string
          - type: 'null'
          description: Comma-separated list of tags
          default: null
      - name: search
        in: query
        description: Free-form search
        required: false
        schema:
          title: Search
          anyOf:
          - type: string
          - type: 'null'
          description: Free-form search
          default: null
      - name: hasRoute
        in: query
        description: 'Filter by route state: has_route, no_route, or all'
        required: false
        schema:
          title: Hasroute
          anyOf:
          - type: string
          - type: 'null'
          description: 'Filter by route state: has_route, no_route, or all'
          default: null
          example: all
        example: all
      - name: pickupStoreLocationIds
        in: query
        description: Comma-separated store location ids
        required: false
        schema:
          title: Pickupstorelocationids
          anyOf:
          - type: string
          - type: 'null'
          description: Comma-separated store location ids
          default: null
      - name: dropoffStoreLocationIds
        in: query
        description: Comma-separated store location ids
        required: false
        schema:
          title: Dropoffstorelocationids
          anyOf:
          - type: string
          - type: 'null'
          description: Comma-separated store location ids
          default: null
      - name: city
        in: query
        description: Comma-separated list of pickup or dropoff cities
        required: false
        schema:
          title: City
          anyOf:
          - type: string
          - type: 'null'
          description: Comma-separated list of pickup or dropoff cities
          default: null
      - name: state
        in: query
        description: Comma-separated list of pickup or dropoff states
        required: false
        schema:
          title: State
          anyOf:
          - type: string
          - type: 'null'
          description: Comma-separated list of pickup or dropoff states
          default: null
      - name: country
        in: query
        description: Comma-separated list of pickup or dropoff countries
        required: false
        schema:
          title: Country
          anyOf:
          - type: string
          - type: 'null'
          description: Comma-separated list of pickup or dropoff countries
          default: null
      - name: pickupBusinessName
        in: query
        description: Comma-separated list
        required: false
        schema:
          title: Pickupbusinessname
          anyOf:
          - type: string
          - type: 'null'
          description: Comma-separated list
          default: null
      - name: dropoffBusinessName
        in: query
        description: Comma-separated list
        required: false
        schema:
          title: Dropoffbusinessname
          anyOf:
          - type: string
          - type: 'null'
          description: Comma-separated list
          default: null
      - name: creationSource
        in: query
        description: Comma-separated list
        required: false
        schema:
          title: Creationsource
          anyOf:
          - type: string
          - type: 'null'
          description: Comma-separated list
          default: null
      - name: dispatchStrategyId
        in: query
        description: Comma-separated list
        required: false
        schema:
          title: Dispatchstrategyid
          anyOf:
          - type: string
          - type: 'null'
          description: Comma-separated list
          default: null
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersListResponse'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NashValidationError'
    post:
      tags:
      - Order
      summary: Create Orders
      description: Create multiple pre-dispatch orders in a single request. Each order is created independently with its own pickup and dropoff details.
      operationId: create_orders_v1_orders_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrdersInput'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersOutputExample'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NashValidationError'
  /v1/orders/bulk:
    post:
      tags:
      - Order
      summary: Create, update, upsert, or delete orders asynchronously in bulk
      description: Submit a bulk operation to create, update, upsert, or delete multiple orders asynchronously. Returns a bulk operation ID that can be polled for results using the GET bulk endpoint.
      operationId: orders_bulk_operation_v1_orders_bulk_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrdersBulkOperationInput'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkOperationResponse'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NashValidationError'
  /v1/orders/bulk/{id}:
    get:
      tags:
      - Order
      summary: Get response from asynchronous bulk order operation
      description: Retrieve the results of a previously submitted bulk order operation. Returns the status and individual results for each order in the batch.
      operationId: get_orders_bulk_response_v1_orders_bulk__string_id__get
      parameters:
      - name: id
        in: path
        description: The ID of the bulk operation
        required: true
        schema:
          title: Id
          type: string
          description: The ID of the bulk operation
          example: act_1234567890
        example: act_1234567890
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBulkOperationResponse'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NashValidationError'
  /v1/orders/external-identifier:
    post:
      tags:
      - Order
      summary: Create or update orders by external identifier
      description: Create new orders or update existing ones using external identifiers. If an order with a given external identifier exists, it is updated; otherwise a new order is created.
      operationId: create_or_update_orders_by_external_id_v1_orders_external_identifier_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrdersInput'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrdersOutputExample'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NashValidationError'
  /v1/orders/external-identifier/{external_id}/undispatch:
    post:
      tags:
      - Order
      summary: Undispatch an order
      description: 'Un-dispatch a route-based order: cancel its active task and provider delivery, remove it from its route (re-syncing the linked batch), and revert it to the `valid` status. Returns the updated order. Errors if the order is not dispatched, or is not associated with a route.'
      operationId: orders_undispatch_v1_undispatch_order_by_external_id_route_external_identifier__external_id__undispatch_post
      parameters:
      - name: externalId
        in: path
        description: The external id of the order to update
        required: true
        schema:
          title: Externalid
          type: string
          description: The external id of the order to update
          example: '1234567890'
        example: '1234567890'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NashValidationError'
  /v1/orders/{order_id}/undispatch:
    post:
      tags:
      - Order
      summary: Undispatch an order by id
      description: 'Un-dispatch a route-based order by id: cancel its active task and provider delivery, remove it from its route (re-syncing the linked batch), and revert it to the `valid` status. Returns the updated order. Errors if the order is not dispatched, or is not associated with a route.'
      operationId: orders_undispatch_v1_undispatch_order_by_id_route__order_id__undispatch_post
      parameters:
      - name: orderId
        in: path
        description: The id of the order (starts with "ord_").
        required: true
        schema:
          title: Orderid
          type: string
          description: The id of the order (starts with "ord_").
          example: ord_1234567890
        example: ord_1234567890
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NashValidationError'
  /v2/orders/upsert/bulk:
    post:
      tags:
      - Order
      summary: Create or update orders by external identifier (v2)
      description: Create new orders or update existing ones by external identifier. Returns a `results` array — one entry per input order, in the same order as the request — each carrying a `success` or `failed` status, plus a `summary` of the counts. A hard failure on one order does not fail the batch; the rest still commit.
      operationId: orders_v2_bulk_upsert_orders_route_upsert_bulk_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrdersInput'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkUpsertOrdersResponse'
        '422':
          description: Unprocessable Content
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NashValidationError'
components:
  schemas:
    RefreshOrderQuotesOutputExample:
      title: RefreshOrderQuotesOutputExample
      required:
      - quotes
      type: object
      properties:
        quotes:
          title: Quotes
          type: array
          items:
            $ref: '#/components/schemas/QuoteSerializer'
          description: The quotes of the order
          example:
          - costSplitBusinessCents: null
            costSplitCustomerCents: null
            createdTime: '2024-09-03T20:43:45.899094'
            currency: USD
            dropoffEta: '2024-09-03T22:20:47.569000'
            expireTime: '2024-09-03T21:43:45.899102'
            id: qot_2oWASjGxMtucwGgu6A7BYC
            insuranceFeeCents: 0
            nashFeeCents: 300
            pickupWindow: null
            priceCents: 100
            providerId: dispatch_partner
            providerIsInternal: false
            providerLogo: https://nash-provider-logos.s3.amazonaws.com/dispatchit-logo.jpg
            providerName: Dispatch
            tags: null
            taxAmountCents: null
            tollFeeCents: 0
            totalPriceBreakdown:
              priceCents: 100
            totalPriceCents: 100
            type: LOCAL
    NashErrorDetails:
      title: NashErrorDetails
      required:
      - code
      - message
      type: object
      properties:
        code:
          title: Code
          type: string
        message:
          title: Message
          type: string
        details:
          title: Details
          anyOf:
          - type: object
            additionalProperties: true
          - type: 'null'
          default: null
    OrderWithDeliveryWindowInput:
      title: OrderWithDeliveryWindowInput
      type: object
      properties:
        externalId:
          title: Externalid
          anyOf:
          - type: string
          - type: 'null'
          description: Order unique identifier from an external system.
          default: null
        pickupAddress:
          title: Pickupaddress
          anyOf:
          - type: string
          - type: 'null'
          description: 'The full address in one line for the pickup location. Format: [Number] [Street], [second line], [city], [state], [zip code].'
          default: null
        pickupPlaceId:
          title: Pickupplaceid
          anyOf:
          - type: string
          - type: 'null'
          description: Google place id for the pickup location.
          default: null
        pickupPhoneNumber:
          title: Pickupphonenumber
          anyOf:
          - type: string
          - type: 'null'
          description: 'The phone number to contact at the pickup location in the form: ''+15555555555'''
          default: null
        pickupBusinessName:
          title: Pickupbusinessname
          anyOf:
          - type: string
          - type: 'null'
          description: Pickup business name at the origin. Limited to 80 characters.
          default: null
        pickupFirstName:
          title: Pickupfirstname
          anyOf:
          - type: string
          - type: 'null'
          description: First name of the person to pickup from. If unknown pass 'Manager'. Limited to 80 characters.
          default: null
        pickupLastName:
          title: Pickuplastname
          anyOf:
          - type: string
          - type: 'null'
          description: Last name of the person to pickup from. If unknown pass 'Manager'. Limited to 80 characters.
          default: null
        pickupInstructions:
          title: Pickupinstructions
          anyOf:
          - type: string
          - type: 'null'
          description: Any special instructions for pickup. Limited to 280 characters.
          default: null
        pickupStoreLocationId:
          title: Pickupstorelocationid
          anyOf:
          - type: string
          - type: 'null'
          description: A unique identifier for store location created in Nash.
          default: null
        pickupExternalStoreLocationId:
          title: Pickupexternalstorelocationid
          anyOf:
          - type: string
          - type: 'null'
          description: The external identifier used for your store.
          default: null
        pickupStoreLocationIds:
          title: Pickupstorelocationids
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: A list of store location IDs (internal or external) to consider for the Order. The optimal store will be selected and returned in the response in `pickupStoreLocationId` and/or `pickupStoreLocationExternalId`.
          default: null
        pickupZoneIds:
          title: Pickupzoneids
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: A list of zone IDs to consider for the Order. The pickup store location will be selected later via selected delivery window.
          default: null
        pickupBarcodes:
          title: Pickupbarcodes
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Array containing barcode values that are required to be scanned at the pickup waypoint.
          default: null
        pickupEmail:
          title: Pickupemail
          anyOf:
          - type: string
          - type: 'null'
          description: The email of the contact at the pickup location.
          default: null
        dropoffAddress:
          title: Dropoffaddress
          anyOf:
          - type: string
          - type: 'null'
          description: 'The full address in one line for the dropoff location. Format: [Number] [Street], [second line], [city], [state], [zip code].'
          default: null
        dropoffPlaceId:
          title: Dropoffplaceid
          anyOf:
          - type: string
          - type: 'null'
          description: Google place id for the dropoff location.
          default: null
        dropoffPhoneNumber:
          title: Dropoffphonenumber
          anyOf:
          - type: string
          - type: 'null'
          description: 'The phone number to contact at the dropoff location in the form: ''+15555555555'''
          default: null
        dropoffBusinessName:
          title: Dropoffbusinessname
          anyOf:
          - type: string
          - type: 'null'
          description: Name of the business at the destination. Should be left empty if there is no business. Limited to 80 characters.
          default: null
        dropoffFirstName:
          title: Dropofffirstname
          anyOf:
          - type: string
          - type: 'null'
          description: First name of the contact at the destination. Limited to 80 characters.
          default: null
        dropoffLastName:
          title: Dropofflastname
          anyOf:
          - type: string
          - type: 'null'
          description: Last name of the contact at the destination. Limited to 80 characters.
          default: null
        dropoffInstructions:
          title: Dropoffinstructions
          anyOf:
          - type: string
          - type: 'null'
          description: Any special instructions for dropoff. Limited to 280 characters.
          default: null
        dropoffBarcodes:
          title: Dropoffbarcodes
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Array containing barcode values/types that are required to be scanned at the dropoff waypoint.
          default: null
        dropoffEmail:
          title: Dropoffemail
          anyOf:
          - type: string
          - type: 'null'
          description: The email of the contact at the dropoff location.
          default: null
        deliveryMode:
          title: Deliverymode
          anyOf:
          - type: string
          - type: 'null'
          description: '''now'' or ''scheduled'' when the delivery should be scheduled'
          default: null
        pickupStartTime:
          title: Pickupstarttime
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          description: The earliest pickup time in UTC in the form 'YYYY-MM-DDTHH:MM:SSZ'
          default: null
        pickupEndTime:
          title: Pickupendtime
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          description: The latest pickup time in UTC in the form 'YYYY-MM-DDTHH:MM:SSZ'
          default: null
        dropoffStartTime:
          title: Dropoffstarttime
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          description: The earliest dropoff time in UTC in the form 'YYYY-MM-DDTHH:MM:SSZ'
          default: null
        dropoffEndTime:
          title: Dropoffendtime
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          description: The latest dropoff time in UTC in the form 'YYYY-MM-DDTHH:MM:SSZ'
          default: null
        deliveryWindowId:
          title: Deliverywindowid
          anyOf:
          - type: string
          - type: 'null'
          description: Specify the delivery window that the customer requested this order to be delivered.
          default: null
        description:
          title: Description
          anyOf:
          - type: string
          - type: 'null'
          description: Order description and notes. Limited to 280 characters.
          default: null
        itemsCount:
          title: Itemscount
          anyOf:
          - type: integer
          - type: 'null'
          description: The number of items in this order
          default: null
        currency:
          title: Currency
          anyOf:
          - type: string
          - type: 'null'
          description: Local currency
          default: null
        valueCents:
          title: Valuecents
          anyOf:
          - type: integer
          - type: string
          - type: 'null'
          description: Order value in cents
          default: null
        tipAmountCents:
          title: Tipamountcents
          anyOf:
          - type: integer
          - type: 'null'
          description: Tip paid to the driver in cents
          default: null
        requirements:
          title: Requirements
          anyOf:
          - type: array
            items:
              $ref: '#/components/schemas/PackageRequirements'
          - type: array
            items:
              type: string
          - type: 'null'
          description: Package requirements.
          default: null
          example:
          - photo_proof_of_delivery
          - age_verification_on_delivery
        minimumVehicleSize:
          title: Minimumvehiclesize
          enum:
          - any
          - bike
          - motorbike
          - cargobike
          - sedan
          - car
          - suv
          - pickup_truck
          - pickup
          - van
          - large_van
          - extra_large_van
          - truck
          anyOf:
          - type: string
          - type: 'null'
          description: 'The requested minimum vehicle size. Allowed values: [''any'', ''bike'', ''motorbike'', ''cargobike'', ''sedan'', ''car'', ''suv'', ''pickup_truck'', ''pickup'', ''van'', ''large_van'', ''extra_large_van'', ''truck'']'
          default: null
          example: car
        dispatchStrategyId:
          title: Dispatchstrategyid
          anyOf:
          - type: string
          - type: 'null'
          description: "The dispatch strategy id (or option group id) to be associated with the order.\n\n Note: Best practice is to allow automations to control dispatch strategy and not send the dispatch strategy id in the request."
          default: null
        orderMetadata:
          title: Ordermetadata
          anyOf:
          - type: object
            additionalProperties: true
          - type: 'null'
          description: Key-value data to attach to this order.
          default: null
        tags:
          title: Tags
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Optional order tags, they will be included in every response
          default: null
        referenceId:
          title: Referenceid
          anyOf:
          - type: string
          - type: 'null'
          description: A non-unique identifier for orders, visible to the courier if supported by the provider.
          default: null
        pickupAddressNumber:
          title: Pickupaddressnumber
          anyOf:
          - type: string
          - type: 'null'
          description: The number on a house.
          default: null
        pickupAddressSecondarynumber:
          title: Pickupaddresssecondarynumber
          anyOf:
          - type: string
          - type: 'null'
          description: Secondary number on an address e.g. an apartment building.
          default: null
        pickupAddressFormattedStreet:
          title: Pickupaddressformattedstreet
          anyOf:
          - type: string
          - type: 'null'
          description: The street of the address.
          default: null
        pickupAddressCity:
          title: Pickupaddresscity
          anyOf:
          - type: string
          - type: 'null'
          description: The city of the pickup address.
          default: null
        pickupAddressCounty:
          title: Pickupaddresscounty
          anyOf:
          - type: string
          - type: 'null'
          description: The county associated with the pickup address.
          default: null
        pickupAddressState:
          title: Pickupaddressstate
          anyOf:
          - type: string
          - type: 'null'
          description: The state of the pickup address.
          default: null
        pickupAddressZip:
          title: Pickupaddresszip
          anyOf:
          - type: string
          - type: 'null'
          description: The zip or postal code of the pickup address.
          default: null
        pickupAddressCountry:
          title: Pickupaddresscountry
          anyOf:
          - type: string
          - type: 'null'
          description: The ISO 3166-1 alpha-2 country code of the pickup address.
          default: null
        pickupLat:
          title: Pickuplat
          anyOf:
          - type: number
          - type: 'null'
          description: The pickup latitude coordinate.
          default: null
        pickupLng:
          title: Pickuplng
          anyOf:
          - type: number
          - type: 'null'
          description: The pickup longitude coordinate.
          default: null
        dropoffAddressNumber:
          title: Dropoffaddressnumber
          anyOf:
          - type: string
          - type: 'null'
          description: The number on a house.
          default: null
        dropoffAddressSecondarynumber:
          title: Dropoffaddresssecondarynumber
          anyOf:
          - type: string
          - type: 'null'
          description: Secondary number on an address e.g. an apartment building.
          default: null
        dropoffAddressFormattedStreet:
          title: Dropoffaddressformattedstreet
          anyOf:
          - type: string
          - type: 'null'
          description: The street of the address.
          default: null
        dropoffAddressCity:
          title: Dropoffaddresscity
          anyOf:
          - type: string
          - type: 'null'
          description: The city of the dropoff address.
          default: null
        dropoffAddressCounty:
          title: Dropoffaddresscounty
          anyOf:
          - type: string
          - type: 'null'
          description: The county associated with the dropoff address.
          default: null
        dropoffAddressState:
          title: Dropoffaddressstate
          anyOf:
          - type: string
          - type: 'null'
          description: The state of the dropoff address.
          default: null
        dropoffAddressZip:
          title: Dropoffaddresszip
          anyOf:
          - type: string
          - type: 'null'
          description: The zip or postal code of the dropoff address.
          default: null
        dropoffAddressCountry:
          title: Dropoffaddresscountry
          anyOf:
          - type: string
          - type: 'null'
          description: The ISO 3166-1 alpha-2 country code of the dropoff address.
          default: null
        dropoffLat:
          title: Dropofflat
          anyOf:
          - type: number
          - type: 'null'
          description: The dropoff latitude coordinate.
          default: null
        dropoffLng:
          title: Dropofflng
          anyOf:
          - type: number
          - type: 'null'
          description: The dropoff longitude coordinate.
          default: null
        weight:
          title: Weight
          anyOf:
          - type: number
          - type: integer
          - type: string
          - type: 'null'
          description: The total weight of the package in kilograms (kg)
          default: null
        height:
          title: Height
          anyOf:
          - type: number
          - type: integer
          - type: 'null'
          description: The total height of the package in centimeters (cm)
          default: null
        width:
          title: Width
          anyOf:
          - type: number
          - type: integer
          - type: 'null'
          description: The total width of the package in centimeters (cm)
          default: null
        depth:
          title: Depth
          anyOf:
          - type: number
          - type: integer
          - type: 'null'
          description: The total depth of the package in centimeters (cm)
          default: null
        items:
          title: Items
          anyOf:
          - type: array
            items:
              $ref: '#/components/schemas/ItemInput'
          - type: 'null'
          description: Lists of items in the delivery
          default: null
        optimizationParameters:
          anyOf:
          - $ref: '#/components/schemas/OptimizationParameters'
          - type: 'null'
          description: Order-level optimization parameters
          default: null
        pickupPayment:
          anyOf:
          - $ref: '#/components/schemas/PickupPayment'
          - type: 'null'
          description: How the courier should pay for the order at pickup (e.g. a barcode or provider card).
          default: null
        reapplyAutomations:
          title: Reapplyautomations
          anyOf:
          - type: boolean
          - type: 'null'
          description: If set to true, the order will be re-evaluated with automations.
          default: null
        maxDeliveryFeeCents:
          title: Maxdeliveryfeecents
          anyOf:
          - type: integer
          - type: 'null'
          description: The maximum delivery fee for the order in cents. This will override the dispatch strategy max delivery fee if both are set.
          default: null
        requestedDeliveryWindowsStartTime:
          title: Requesteddeliverywindowsstarttime
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          description: The earliest delivery windows start time for the range of windows to return, in UTC in the form 'YYYY-MM-DDTHH:MM:SSZ'
          default: null
        requestedDeliveryWindowsEndTime:
          title: Requesteddeliverywindowsendtime
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          description: The latest delivery windows start time for the range of windows to return, in UTC in the form 'YYYY-MM-DDTHH:MM:SSZ'
          default: null
        deliveryWindowExpiresAt:
          title: Deliverywindowexpiresat
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          description: The time at which the booked delivery window expires
          default: null
        deliveryWindowRequestedCapacity:
          title: Deliverywindowrequestedcapacity
          anyOf:
          - type: integer
          - type: 'null'
          description: The amount of capacity to book from the delivery window for this order
          default: null
    DriverGroupSerializer:
      title: DriverGroupSerializer
      type: object
      properties:
        id:
          title: Id
          anyOf:
          - type: string
          - type: 'null'
          default: null
        externalId:
          title: Externalid
          anyOf:
          - type: string
          - type: 'null'
          default: null
      description: Driver group details for a route.
    BulkUpsertOrderData:
      title: BulkUpsertOrderData
      required:
      - id
      - createdAt
      - portalUrl
      - publicTrackingUrl
      - status
      - tags
      type: object
      properties:
        id:
          title: Id
          type: string
          description: The id of the order
          example: ord_1234567890
        createdAt:
          title: Createdat
          type: string
          description: The date and time when the order was created
          format: date-time
          example: '2023-08-29T19:17:46.264523'
        externalId:
          title: Externalid
          anyOf:
          - type: string
          - type: 'null'
          description: The external id of the order
          default: null
          example: '1234567890'
        externalGroupId:
          title: Externalgroupid
          anyOf:
          - type: string
          - type: 'null'
          description: The external group id of the order
          default: null
          example: '1234567890'
        referenceId:
          title: Referenceid
          anyOf:
          - type: string
          - type: 'null'
          description: A non-unique identifier for orders, visible to the courier if supported by the provider.
          default: null
          example: '1234567890'
        portalUrl:
          title: Portalurl
          type: string
          description: The URL of the order in the Nash portal
          example: https://portal.dev.usenash.com/orders/ord_1234567890
        publicTrackingUrl:
          title: Publictrackingurl
          type: string
          description: The URL of the order in the public tracking system
          example: https://tracking.dev.usenash.com/ord_1234567890
        status:
          title: Status
          type: string
          description: The status of the order
          example: needs_attention
        tags:
          title: Tags
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: The tags of the order
          example:
          - REST_API
        orderMetadata:
          title: Ordermetadata
          anyOf:
          - type: object
            additionalProperties: true
          - type: 'null'
          description: Key-value data to attach to Nash Jobs.
          default: null
          example:
            key: value
        pickupAddress:
          title: Pickupaddress
          anyOf:
          - type: string
          - type: 'null'
          description: The pickup address of the order
          default: null
          example: 185 University Ave, Palo Alto, CA 94301
        pickupPlaceId:
          title: Pickupplaceid
          anyOf:
          - type: string
          - type: 'null'
          description: Google place id for the pickup location.
          default: null
          example: ChIJd8BlQJq3t4kRUKhH43CQ
        pickupAddressNumber:
          title: Pickupaddressnumber
          anyOf:
          - type: string
          - type: 'null'
          description: The number on a house.
          default: null
          example: '185'
        pickupAddressSecondarynumber:
          title: Pickupaddresssecondarynumber
          anyOf:
          - type: string
          - type: 'null'
          description: Secondary number on an address e.g. an apartment building.
          default: null
        pickupAddressFormattedStreet:
          title: Pickupaddressformattedstreet
          anyOf:
          - type: string
          - type: 'null'
          description: The street of the address.
          default: null
          example: University Ave
        pickupAddressCity:
          title: Pickupaddresscity
          anyOf:
          - type: string
          - type: 'null'
          description: The city of the pickup address.
          default: null
          example: Palo Alto
        pickupAddressCounty:
          title: Pickupaddresscounty
          anyOf:
          - type: string
          - type: 'null'
          description: The county associated with the pickup address.
          default: null
          example: Santa Clara
        pickupAddressState:
          title: Pickupaddressstate
          anyOf:
          - type: string
          - type: 'null'
          description: The state of the pickup address.
          default: null
          example: CA
        pickupAddressZip:
          title: Pickupaddresszip
          anyOf:
          - type: string
          - type: 'null'
          description: The zip or postal code of the pickup address.
          default: null
          example: '94301'
        pickupAddressCountry:
          title: Pickupaddresscountry
          anyOf:
          - type: string
          - type: 'null'
          description: The ISO 3166-1 alpha-2 country code of the pickup address.
          default: null
          example: US
        pickupLat:
          title: Pickuplat
          anyOf:
          - type: number
          - type: 'null'
          description: The pickup latitude coordinate.
          default: null
          example: 37.422222
        pickupLng:
          title: Pickuplng
          anyOf:
          - type: number
          - type: 'null'
          description: The pickup longitude coordinate.
          default: null
          example: -122.139776
        pickupPhoneNumber:
          title: Pickupphonenumber
          anyOf:
          - type: string
          - type: 'null'
          description: 'The phone number to contact at the pickup location in the form: ''+15555555555'''
          default: null
          example: '+15555555555'
        pickupFirstName:
          title: Pickupfirstname
          anyOf:
          - type: string
          - type: 'null'
          description: First name of the person to pickup from. If unknown pass 'Manager'. Limited to 80 characters.
          default: null
          example: Manager
        pickupLastName:
          title: Pickuplastname
          anyOf:
          - type: string
          - type: 'null'
          description: Last name of the person to pickup from. If unknown pass 'Manager'. Limited to 80 characters.
          default: null
          example: Manager
        pickupBusinessName:
          title: Pickupbusinessname
          anyOf:
          - type: string
          - type: 'null'
          description: Pickup business name at the origin.
          default: null
          example: Store ABC
        pickupInstructions:
          title: Pickupinstructions
          anyOf:
          - type: string
          - type: 'null'
          description: Any special instructions for pickup.
          default: null
          example: Leave at the front door
        pickupStoreLocationId:
          title: Pickupstorelocationid
          anyOf:
          - type: string
          - type: 'null'
          description: A unique identifier for store location created in Nash.
          default: null
          example: stl_VwpoPJaaqWiPGnXEhWfX
        pickupExternalStoreLocationId:
          title: Pickupexternalstorelocationid
          anyOf:
          - type: string
          - type: 'null'
          description: The external identifier used for your store.
          default: null
          example: '0021112'
        pickupZoneIds:
          title: Pickupzoneids
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: A list of zone IDs to consider for the Order. The pickup store location will be selected later via selected delivery window.
          default: null
        pickupBarcodes:
          title: Pickupbarcodes
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Array containing barcode values that are required to be scanned at the pickup waypoint.
          default: null
          example:
          - '1234567890'
          - 0987654321
        pickupPayment:
          anyOf:
          - $ref: '#/components/schemas/PickupPayment'
          - type: 'null'
          description: How the courier should pay for the order at pickup (e.g. a barcode or provider card).
          default: null
          example:
            barcode:
              type: CODE128
              value: '1234567890'
            providerCard: false
        dropoffAddress:
          title: Dropoffaddress
          anyOf:
          - type: string
          - type: 'null'
          description: The dropoff address of the order
          default: null
          example: 401 San Antonio Rd, Mountain View, CA 94040
        dropoffPlaceId:
          title: Dropoffplaceid
          anyOf:
          - type: string
          - type: 'null'
          description: Google place id for the dropoff location.
          default: null
          example: ChIJd8BlQJq3t4kRUKhH43CQ
        dropoffAddressNumber:
          title: Dropoffaddressnumber
          anyOf:
          - type: string
          - type: 'null'
          description: The number on a house.
          default: null
          example: '401'
        dropoffAddressSecondarynumber:
          title: Dropoffaddresssecondarynumber
          anyOf:
          - type: string
          - type: 'null'
          description: Secondary number on an address e.g. an apartment building.
          default: null
        dropoffAddressFormattedStreet:
          title: Dropoffaddressformattedstreet
          anyOf:
          - type: string
          - type: 'null'
          description: The street of the address.
          default: null
          example: San Antonio Rd
        dropoffAddressCity:
          title: Dropoffaddresscity
          anyOf:
          - type: string
          - type: 'null'
          description: The city of the dropoff address.
          default: null
          example: Mountain View
        dropoffAddressCounty:
          title: Dropoffaddresscounty
          anyOf:
          - type: string
          - type: 'null'
          description: The county associated with the dropoff address.
          default: null
          example: Santa Clara
        dropoffAddressState:
          title: Dropoffaddressstate
          anyOf:
          - type: string
          - type: 'null'
          description: The state of the dropoff address.
          default: null
          example: CA
        dropoffAddressZip:
          title: Dropoffaddresszip
          anyOf:
          - type: string
          - type: 'null'
          description: The zip or postal code of the dropoff address.
          default: null
          example: '94040'
        dropoffAddressCountry:
          title: Dropoffaddresscountry
          anyOf:
          - type: string
          - type: 'null'
          description: The ISO 3166-1 alpha-2 country code of the dropoff address.
          default: null
          example: US
        dropoffLat:
          title: Dropofflat
          anyOf:
          - type: number
          - type: 'null'
          description: The dropoff latitude coordinate.
          default: null
          example: 37.422222
        dropoffLng:
          title: Dropofflng
          anyOf:
          - type: number
          - type: 'null'
          description: The dropoff longitude coordinate.
          default: null
          example: -122.139776
        dropoffPhoneNumber:
          title: Dropoffphonenumber
          anyOf:
          - type: string
          - type: 'null'
          description: 'The phone number to contact at the dropoff location in the form: ''+15555555555'''
          default: null
          example: '+15555555556'
        dropoffFirstName:
          title: Dropofffirstname
          anyOf:
          - type: string
          - type: 'null'
          description: First name of the contact at the destination.
          default: null
          example: Quote
        dropoffLastName:
          title: Dropofflastname
          anyOf:
          - type: string
          - type: 'null'
          description: Last name of the contact at the destination.
          default: null
          example: Request
        dropoffBusinessName:
          title: Dropoffbusinessname
          anyOf:
          - type: string
          - type: 'null'
          description: Dropoff business name at the destination.
          default: null
        dropoffInstructions:
          title: Dropoffinstructions
          anyOf:
          - type: string
          - type: 'null'
          description: Any special instructions for dropoff.
          default: null
          example: Leave at the front door
        dropoffStoreLocationId:
          title: Dropoffstorelocationid
          anyOf:
          - type: string
          - type: 'null'
          description: A unique identifier for store location created in Nash.
          default: null
        dropoffBarcodes:
          title: Dropoffbarcodes
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Array containing barcode values that are required to be scanned at the dropoff waypoint.
          default: null
        deliveryMode:
          title: Deliverymode
          anyOf:
          - type: string
          - type: 'null'
          description: The delivery mode of the order
          default: null
          example: scheduled
        pickupStartTime:
          title: Pickupstarttime
          anyOf:
          - type: string
          - type: 'null'
          description: The start time of the pickup window.
          default: null
          example: '2024-08-22T23:54:08Z'
        pickupEndTime:
          title: Pickupendtime
          anyOf:
          - type: string
          - type: 'null'
          description: The end time of the pickup window.
          default: null
          example: '2024-08-22T23:54:08Z'
        dropoffStartTime:
          title: Dropoffstarttime
          anyOf:
          - type: string
          - type: 'null'
          description: The start time of the dropoff window.
          default: null
          example: '2024-08-22T23:54:08Z'
        dropoffEndTime:
          title: Dropoffendtime
          anyOf:
          - type: string
          - type: 'null'
          description: The end time of the dropoff window.
          default: null
          example: '2024-08-22T23:54:08Z'
        description:
          title: Description
          anyOf:
          - type: string
          - type: 'null'
          description: The description of the order
          default: null
          example: Order description
        itemsCount:
          title: Itemscount
          anyOf:
          - type: string
          - type: 'null'
          description: The number of items in the order
          default: null
          example: '1'
        requirements:
          title: Requirements
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: The requirements of the order
          default: null
          example:
          - photo_proof_of_delivery
        minimumVehicleSize:
          title: Minimumvehiclesize
          enum:
          - any
          - bike
          - motorbike
          - cargobike
          - sedan
          - car
          - suv
          - pickup_truck
          - pickup
          - van
          - large_van
          - extra_large_van
          - truck
          anyOf:
          - type: string
          - type: 'null'
          description: 'The requested minimum vehicle size. Allowed values: [''any'', ''bike'', ''motorbike'', ''cargobike'', ''sedan'', ''car'', ''suv'', ''pickup_truck'', ''pickup'', ''van'', ''large_van'', ''extra_large_van'', ''truck'']'
          default: null
          example: car
        currency:
          title: Currency
          anyOf:
          - type: string
          - type: 'null'
          description: The currency of the order
          default: null
          example: USD
        valueCents:
          title: Valuecents
          anyOf:
          - type: string
          - type: 'null'
          description: The value of the order in cents
          default: null
          example: '10000'
        tipAmountCents:
          title: Tipamountcents
          anyOf:
          - type: string
          - type: 'null'
          description: The tip amount of the order in cents
          default: null
          example: '1000'
        width:
          title: Width
          anyOf:
          - type: string
          - type: 'null'
          description: The width of the order in cm
          default: null
          example: '100'
        depth:
          title: Depth
          anyOf:
          - type: string
          - type: 'null'
          description: The depth of the order in cm
          default: null
          example: '100'
        height:
          title: Height
          anyOf:
          - type: string
          - type: 'null'
          description: The height of the order in cm
          default: null
          example: '100'
        volume:
          title: Volume
          anyOf:
          - type: string
          - type: 'null'
          description: The volume of the order in cm^3
          default: null
        weight:
          title: Weight
          anyOf:
          - type: string
          - type: 'null'
          description: The weight of the order in kg
          default: null
          example: '100'
        items:
          title: Items
          anyOf:
          - type: array
            items:
              $ref: '#/components/schemas/ItemInput'
          - type: 'null'
          description: The items of the order
          default: null
        dispatchStrategyId:
          title: Dispatchstrategyid
          anyOf:
          - type: string
          - type: 'null'
          description: 'The dispatch strategy id (or option group id) to be associated with the order. Note: It is the best practice to allow automations to control dispatch strategy and not send the dispatch strategy id in the request.'
          default: null
          example: dss_1234567890
        maxDeliveryFeeCents:
          title: Maxdeliveryfeecents
          anyOf:
          - type: string
          - type: 'null'
          description: The max delivery fee of the order in cents
          default: null
          example: '1000'
        documents:
          title: Documents
          anyOf:
          - type: array
            items:
              $ref: '#/components/schemas/OrderDocumentOutput'
          - type: 'null'
          description: The documents of the order
          default: null
          example:
          - contentType: application/pdf
            data: SGVsbG8gd29ybGQ=
            id: doc_1234567890
            type: shipping_label
            url: https://example.com/document.pdf
        validationErrors:
          title: Validationerrors
          anyOf:
          - type: object
            additionalProperties:
              type: string
          - type: 'null'
          description: The validation errors of the order
          default: null
          example:
            pickupStartTime: Time is in the past
        quotes:
          title: Quotes
          anyOf:
          - type: array
            items:
              $ref: '#/components/schemas/QuoteSerializer'
          - type: 'null'
          description: The quotes of the order
          default: null
          example:
          - costSplitBusinessCents: null
            costSplitCustomerCents: null
            createdTime: '2024-09-03T20:43:45.899094'
            currency: USD
            dropoffEta: '2024-09-03T22:20:47.569000'
            expireTime: '2024-09-03T21:43:45.899102'
            id: qot_2oWASjGxMtucwGgu6A7BYC
            insuranceFeeCents: 0
            nashFeeCents: 300
            pickupWindow: null
            priceCents: 100
            providerId: dispatch_partner
            providerIsInternal: false
            providerLogo: https://nash-provider-logos.s3.amazonaws.com/dispatchit-logo.jpg
            providerName: Dispatch
            tags: null
            taxAmountCents: null
            tollFeeCents: 0
            totalPriceBreakdown:
              priceCents: 100
            totalPriceCents: 100
            type: LOCAL
        failedQuotes:
          title: Failedquotes
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: The failed quotes of the order
          default: null
          example:
          - quote_1234567890
          - quote_0987654321
      description: "The full upserted order returned in a successful v2 bulk-upsert result.\n\nSubclasses `OrderOutputExample` only to enable serialising directly from the\n`Order` ORM instance via `model_validate(order)`, mirroring\n`nash.schemas.delivery_window.DeliveryWindowResponse`:\n\n- `from_attributes` — read fields straight off the ORM object.\n- `coerce_numbers_to_str` — several columns are stored as `int` on the ORM but\n  declared as `str` on the response shape (e.g. `items_count`, `value_cents`);\n  the legacy GraphQL path stringified these via Graphene resolvers.\n\nThe base schema itself is untouched, so v1's documented shape is unchanged."
    ItemInput:
      title: ItemInput
      type: object
      properties:
        id:
          title: Id
          anyOf:
          - type: string
          - type: 'null'
          description: The merchant ID of the item
          default: null
          example: abc-123
        description:
          title: Description
          anyOf:
          - type: string
          - type: 'null'
          description: The description of the item
          default: null
          example: A box of books
        count:
          title: Count
          anyOf:
          - type: integer
          - type: 'null'
          description: The quantity of the item
          default: null
          example: 2
        dimensions:
          anyOf:
          - $ref: '#/components/schemas/Dimensions'
          - type: 'null'
          description: The dimensions of the item
          default: null
          example:
            depth: 14
            height: 10
            width: 12
        weight:
          title: Weight
          anyOf:
          - type: number
          - type: integer
          - type: 'null'
          description: The weight of the item in kilograms (kg)
          default: null
          example: 1.5
        valueCents:
          title: Valuecents
          anyOf:
          - type: integer
          - type: 'null'
          description: The value of the item in cents
          default: null
          example: 1000
        requirements:
          title: Requirements
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: List of requirements for this item
          default: null
          example:
          - age_verification_on_delivery
        category:
          title: Category
          anyOf:
          - type: string
          - type: 'null'
          description: The category of the item
          default: null
        barcode:
          title: Barcode
          anyOf:
          - type: string
          - type: 'null'
          description: Barcode value for this item.
          default: null
          example: 0199312650999998913643M221872801002010908
        metadata:
          title: Metadata
          anyOf:
          - type: object
            additionalProperties: true
          - type: 'null'
          description: Key-value data to attach to this item.
          default: null
          example:
            packaging_type: CTN
        subItems:
          title: Subitems
          anyOf:
          - type: array
            items:
              $ref: '#/components/schemas/SubItemInput'
          - type: 'null'
          description: The nested sub-items
          default: null
      description: Item input object for API requests.
    UpdateOrderBulkPayload:
      title: UpdateOrderBulkPayload
      required:
      - action
      - data
      type: object
      properties:
        action:
          title: Action
          type: string
          const: update
        data:
          $ref: '#/components/schemas/UpdateOrderInput'
    OrderLocationSummary:
      title: OrderLocationSummary
      type: object
      properties:
        businessName:
          title: Businessname
          anyOf:
          - type: string
          - type: 'null'
          default: null
        firstName:
          title: Firstname
          anyOf:
          - type: string
          - type: 'null'
          default: null
        lastName:
          title: Lastname
          anyOf:
          - type: string
          - type: 'null'
          default: null
        address:
          title: Address
          anyOf:
          - type: string
          - type: 'null'
          default: null
        city:
          title: City
          anyOf:
          - type: string
          - type: 'null'
          default: null
        state:
          title: State
          anyOf:
          - type: string
          - type: 'null'
          default: null
        country:
          title: Country
          anyOf:
          - type: string
          - type: 'null'
          default: null
        startTime:
          title: Starttime
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          default: null
        endTime:
          title: Endtime
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          default: null
    NoteSerializer:
      title: NoteSerializer
      required:
      - id
      - createdAt
      - note
      - user
      type: object
      properties:
        id:
          title: Id
          type: string
          description: Note ID
          example: not_01234567890
        createdAt:
          title: Createdat
          type: string
          description: Created at
          example: '2023-08-29T19:17:46.264523'
        note:
          title: Note
          type: string
          description: Note
          example: Task note
        user:
          anyOf:
          - $ref: '#/components/schemas/BasicUserSerializer'
          - type: 'null'
          description: User
          example:
            email: john.doe@example.com
      description: Generic serializer for notes used in many endpoints.
    CompressedAdvancedTaskSerializer:
      title: CompressedAdvancedTaskSerializer
      required:
      - id
      type: object
      properties:
        id:
          title: Id
          type: string
          description: Task ID
          example: tsk_01234567890
      description: Generic serializer for tasks used in many endpoints.
    QuoteSerializer:
      title: QuoteSerializer
      required:
      - id
      - providerId
      - providerName
      - createdTime
      - priceCents
      type: object
      properties:
        id:
          title: Id
          type: string
          description: Quote ID
          example: qot_01234567890
        type:
          title: Type
          anyOf:
          - type: string
          - type: 'null'
          description: Quote type
          default: null
        providerId:
          title: Providerid
          type: string
          description: Provider ID
          example: uber_standard_mini_mart
        providerName:
          title: Providername
          type: string
          description: Provider name
          example: Nash
        providerLogo:
          title: Providerlogo
          anyOf:
          - type: string
          - type: 'null'
          description: Provider logo
          default: null
          example: https://nash.com/logo.png
        providerIsInternal:
          title: Providerisinternal
          anyOf:
          - type: boolean
          - type: 'null'
          description: Is the provider internal
          default: null
        createdTime:
          title: Createdtime
          type: string
          description: Created time
          example: '2021-01-01T00:00:00Z'
        expireTime:
          title: Expiretime
          anyOf:
          - type: string
          - type: 'null'
          description: Expire time
          default: null
          example: '2021-01-01T00:00:00Z'
        priceCents:
          title: Pricecents
          type: integer
          description: Price in cents
          example: 1000
        taxAmountCents:
          title: Taxamountcents
          anyOf:
          - type: integer
          - type: 'null'
          description: Tax amount in cents
          default: null
          example: 100
        tollFeeCents:
          title: Tollfeecents
          anyOf:
          - type: integer
          - type: 'null'
          description: Toll fee in cents
          default: null
          example: 100
        nashFeeCents:
          title: Nashfeecents
          anyOf:
          - type: integer
          - type: 'null'
          description: Nash fee in cents
          default: null
          example: 100
        insuranceFeeCents:
          title: Insurancefeecents
          anyOf:
          - type: integer
          - type: 'null'
          description: Insurance fee in cents
          default: null
          example: 100
        currency:
          title: Currency
          anyOf:
          - type: string
          - type: 'null'
          description: Currency
          default: null
          example: USD
        pickupWindow:
          title: Pickupwindow
          anyOf:
          - type: string
          - type: 'null'
          description: Pickup window
          default: null
          example: '2021-01-01T00:00:00Z'
        dropoffEta:
          title: Dropoffeta
          anyOf:
          - type: string
          - type: 'null'
          description: Dropoff ETA
          default: null
          example: '2021-01-01T00:00:00Z'
        tags:
          title: Tags
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: Tags
          default: null
          example:
          - tag1
          - tag2
          - autodispatch_preferred_quote
        costSplitCustomerCents:
          title: Costsplitcustomercents
          anyOf:
          - type: integer
          - type: 'null'
          description: Cost split customer in cents
          default: null
          example: 100
        costSplitBusinessCents:
          title: Costsplitbusinesscents
          anyOf:
          - type: integer
          - type: 'null'
          description: Cost split business in cents
          default: null
          example: 100
        totalPriceBreakdown:
          title: Totalpricebreakdown
          anyOf:
          - type: object
            additionalProperties: true
          - type: 'null'
          description: Total price breakdown
          default: null
          example:
            subtotal: 1000
            tax: 100
            total: 1100
        totalPriceCents:
          title: Totalpricecents
          anyOf:
          - type: integer
          - type: 'null'
          description: Total price in cents
          default: null
          example: 1000
        rank:
          title: Rank
          anyOf:
          - type: integer
          - type: 'null'
          description: Quote rank for preferred provider ordering
          default: null
          example: 1
        price:
          title: Price
          anyOf:
          - type: number
          - type: 'null'
          description: Price
          default: null
          example: 1000
        isSuccessful:
          title: Issuccessful
          anyOf:
          - type: boolean
          - type: 'null'
          description: Is successful
          default: null
          example: true
        errorMessage:
          title: Errormessage
          anyOf:
          - type: string
          - type: 'null'
          description: Error message
          default: null
          example: Error message
      description: Generic serializer for quotes used in many endpoints.
    SubItemOutput:
      title: SubItemOutput
      type: object
      properties:
        id:
          title: Id
          anyOf:
          - type: string
          - type: 'null'
          description: The merchant ID of the item
          default: null
          example: abc-123
        description:
          title: Description
          anyOf:
          - type: string
          - type: 'null'
          description: The description of the item
          default: null
          example: A box of books
        count:
          title: Count
          anyOf:
          - type: integer
          - type: 'null'
          description: The quantity of the item
          default: null
          example: 2
        dimensions:
          anyOf:
          - $ref: '#/components/schemas/Dimensions'
          - type: 'null'
          description: The dimensions of the item
          default: null
          example:
            depth: 14
            height: 10
            width: 12
        weight:
          title: Weight
          anyOf:
          - type: number
          - type: integer
          - type: 'null'
          description: The weight of the item in kilograms (kg)
          default: null
          example: 1.5
        valueCents:
          title: Valuecents
          anyOf:
          - type: integer
          - type: 'null'
          description: The value of the item in cents
          default: null
          example: 1000
        requirements:
          title: Requirements
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: List of requirements for this item
          default: null
          example:
          - age_verification_on_delivery
        category:
          title: Category
          anyOf:
          - type: string
          - type: 'null'
          description: The category of the item
          default: null
        barcode:
          title: Barcode
          anyOf:
          - type: string
          - type: 'null'
          description: Barcode value for this item.
          default: null
          example: 0199312650999998913643M221872801002010908
        metadata:
          title: Metadata
          anyOf:
          - type: object
            additionalProperties: true
          - type: 'null'
          description: Key-value data to attach to this item.
          default: null
          example:
            packaging_type: CTN
        sku:
          title: Sku
          anyOf:
          - type: string
          - type: 'null'
          description: The SKU of the sub-item
          default: null
        substitution:
          anyOf:
          - $ref: '#/components/schemas/SubstitutionObject'
          - type: 'null'
          description: Substitution information for the sub-item
          default: null
        subItems:
          title: Subitems
          anyOf:
          - type: array
            items:
              $ref: '#/components/schemas/SubItemOutput'
          - type: 'null'
          description: The nested sub-items
          default: null
      description: Sub-item object returned by the API.
    UpsertOrderBulkPayload:
      title: UpsertOrderBulkPayload
      required:
      - action
      - data
      type: object
      properties:
        action:
          title: Action
          type: string
          const: upsert
        data:
          $ref: '#/components/schemas/UpsertOrderInput'
    OrderListItem:
      title: OrderListItem
      required:
      - id
      type: object
      properties:
        id:
          title: Id
          type: string
        externalId:
          title: Externalid
          anyOf:
          - type: string
          - type: 'null'
          default: null
        status:
          title: Status
          anyOf:
          - type: string
          - type: 'null'
          default: null
        tags:
          title: Tags
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          default: null
        createdAt:
          title: Createdat
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          default: null
        updatedAt:
          title: Updatedat
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          default: null
        valueCents:
          title: Valuecents
          anyOf:
          - type: integer
          - type: 'null'
          default: null
        currency:
          title: Currency
          anyOf:
          - type: string
          - type: 'null'
          default: null
        pickup:
          anyOf:
          - $ref: '#/components/schemas/OrderLocationSummary'
          - type: 'null'
          default: null
        dropoff:
          anyOf:
          - $ref: '#/components/schemas/OrderLocationSummary'
          - type: 'null'
          default: null
        routeId:
          title: Routeid
          anyOf:
          - type: string
          - type: 'null'
          default: null
        portalUrl:
          title: Portalurl
          anyOf:
          - type: string
          - type: 'null'
          default: null
    SubItemInput:
      title: SubItemInput
      type: object
      properties:
        id:
          title: Id
          anyOf:
          - type: string
          - type: 'null'
          description: The merchant ID of the item
          default: null
          example: abc-123
        description:
          title: Description
          anyOf:
          - type: string
          - type: 'null'
          description: The description of the item
          default: null
          example: A box of books
        count:
          title: Count
          anyOf:
          - type: integer
          - type: 'null'
          description: The quantity of the item
          default: null
          example: 2
        dimensions:
          anyOf:
          - $ref: '#/components/schemas/Dimensions'
          - type: 'null'
          description: The dimensions of the item
          default: null
          example:
            depth: 14
            height: 10
            width: 12
        weight:
          title: Weight
          anyOf:
          - type: number
          - type: integer
          - type: 'null'
          description: The weight of the item in kilograms (kg)
          default: null
          example: 1.5
        valueCents:
          title: Valuecents
          anyOf:
          - type: integer
          - type: 'null'
          description: The value of the item in cents
          default: null
          example: 1000
        requirements:
          title: Requirements
          anyOf:
          - type: array
            items:
              type: string
          - type: 'null'
          description: List of requirements for this item
          default: null
          example:
          - age_verification_on_delivery
        category:
          title: Category
          anyOf:
          - type: string
          - type: 'null'
          description: The category of the item
          default: null
        barcode:
          title: Barcode
          anyOf:
          - type: string
          - type: 'null'
          description: Barcode value for this item.
          default: null
          example: 0199312650999998913643M221872801002010908
        metadata:
          title: Metadata
          anyOf:
          - type: object
            additionalProperties: true
          - type: 'null'
          description: Key-value data to attach to this item.
          default: null
          example:
            packaging_type: CTN
        sku:
          title: Sku
          anyOf:
          - type: string
          - type: 'null'
          description: The SKU of the sub-item
          default: null
        substitution:
          anyOf:
          - $ref: '#/components/schemas/SubstitutionObject'
          - type: 'null'
          description: Substitution preferences for the sub-item
          default: null
        subItems:
          title: Subitems
          anyOf:
          - type: array
            items:
              $ref: '#/components/schemas/SubItemInput'
          - type: 'null'
          description: The nested sub-items
          default: null
      description: Sub-item input object for API requests.
    CourierSerializer:
      title: CourierSerializer
      type: object
      properties:
        id:
          title: Id
          anyOf:
          - type: string
          - type: 'null'
          default: null
        firstName:
          title: Firstname
          anyOf:
          - type: string
          - type: 'null'
          default: null
        lastName:
          title: Lastname
          anyOf:
          - type: string
          - type: 'null'
          default: null
        phoneNumber:
          title: Phonenumber
          anyOf:
          - type: string
          - type: 'null'
          default: null
      description: Courier details for a route.
    BulkUpsertSummary:
      title: BulkUpsertSummary
      required:
      - success
      - failed
      type: object
      properties:
        success:
          title: Success
          type: integer
          description: Number of rows upserted successfully.
          example: 2
        failed:
          title: Failed
          type: integer
          description: Number of rows that failed.
          example: 1
      description: Counts of each outcome across the batch.
    ItemStatusHistoryEntrySerializer:
      title: ItemStatusHistoryEntrySerializer
      required:
      - status
      - createdAt
      type: object
      properties:
        status:
          title: Status
          type: string
          description: Item status at this point in time
          example: picked
        createdAt:
          title: Createdat
          type: string
          description: Timestamp of the status change
          example: '2025-04-25T03:20:00'
      description: A single status change entry in an item's status history.
    BulkUpsertResult_BulkUpsertOrderData_:
      title: BulkUpsertResult[BulkUpsertOrderData]
      required:
      - status
      type: object
      properties:
        externalId:
          title: Externalid
          anyOf:
          - type: string
          - type: 'null'
          description: The row's external identifier, echoed back to correlate results with the request.
          default: null
          example: '1234567890'
        status:
          $ref: '#/components/schemas/BulkUpsertStatus'
          description: Outcome for this row.
          example: success
        id:
          title: Id
          anyOf:
          - type: string
          - type: 'null'
          description: The upserted object's Nash id. Null when the row failed.
          default: null
          example: ord_1234567890
        data:
          anyOf:
          - $ref: '#/components/schemas/BulkUpsertOrderData'
          - type: 'null'
          description: The full upserted object. Present on success, null when the row failed.
          default: null
        errors:
          title: Errors
          anyOf:
          - type: array
            items:
              $ref: '#/components/schemas/BulkUpsertError'
          - type: 'null'
          description: Failure details. Populated only when status is `failed`, null otherwise.
          default: null
    ItemStatusMetadataSerializer:
      title: ItemStatusMetadataSerializer
      type: object
      properties:
        pickedAt:
          title: Pickedat
          anyOf:
          - type: string
          - type: 'null'
          description: Timestamp when the item was picked up
          default: null
        deliveredAt:
          title: Deliveredat
          anyOf:
          - type: string
          - type: 'null'
          description: Timestamp when the item was delivered
          default: null
        failedAt:
          title: Failedat
          anyOf:
          - type: string
          - type: 'null'
          description: Timestamp when the item delivery failed
          default: null
        returnedAt:
          title: Returnedat
          anyOf:
          - type: string
          - type: 'null'
          description: Timestamp when the item was returned
          default: null
        failureReason:
          title: Failurereason
          anyOf:
          - type: string
          - type: 'null'
          description: Reason for delivery failure
          default: null
        failureLocation:
          title: Failurelocation
          anyOf:
          - type: string
          - type: 'null'
          description: 'Where the failure occurred: ''pickup'' or ''dropoff'''
          default: null
          example: dropoff
      description: Operational metadata tracked during item lifecycle in route delivery.
    BulkUpsertStatus:
      title: BulkUpsertStatus
      enum:
      - success
      - failed
      type: string
      description: 'Per-row outcome of a bulk upsert.


        ``success`` means the row was upserted (created or updated). ``failed`` is reserved for hard

        errors (a precondition violation, lock contention, a missing required field, an unexpected

        error). Soft/validation issues that still persist the row are *not* failures — surface those on

        the returned object, not here.'
    EligibleDeliveryWindow:
      title: EligibleDeliveryWindow
      required:
      - id
      - ineligibleReason
      - allowedTags
      - startTime
      - startTimeLocal
      - endTime
      - endTimeLocal
      type: object
      properties:
        id:
          title: Id
          type: string
          description: The id of the delivery window
        name:
          title: Name
          anyOf:
          - type: string
          - type: 'null'
          description: The name of the delivery window
[...]
