{
  "openapi": "3.1.0",
  "info": {
    "title": "Nash API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.sandbox.usenash.com",
      "description": "Sandbox API"
    },
    {
      "url": "https://api.sandbox.ap-southeast-2.usenash.com",
      "description": "Sandbox API (Australia)"
    },
    {
      "url": "https://api.usenash.com",
      "description": "Production API"
    },
    {
      "url": "https://api.ap-southeast-2.usenash.com",
      "description": "Production API (Australia)"
    }
  ],
  "paths": {
    "/v1/activities/{id}/dispatch": {
      "post": {
        "tags": [
          "Route"
        ],
        "summary": "Dispatch Optimized Orders",
        "description": "Dispatch orders from an optimization activity to delivery providers. Creates jobs and assigns them to providers based on the optimized routes.",
        "operationId": "dispatch_optimized_orders_v1_activities__string_id__dispatch_post",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Activity id",
            "required": true,
            "schema": {
              "title": "Id",
              "type": "string",
              "description": "Activity id",
              "example": "act_123"
            },
            "example": "act_123"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DispatchOptimizationInputSerializer"
              }
            }
          },
          "required": true
        },
        "responses": {
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NashValidationError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/activities/{id}/save-routes": {
      "post": {
        "tags": [
          "Route"
        ],
        "summary": "Save Optimization Routes",
        "description": "Save the optimized routes from an optimization activity. Creates route records with stops and travel metrics based on the optimization results.",
        "operationId": "routes_v1_save_optimization_routes_activities__string_id__save_routes_post",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Activity id",
            "required": true,
            "schema": {
              "title": "Id",
              "type": "string",
              "description": "Activity id",
              "example": "act_123"
            },
            "example": "act_123"
          }
        ],
        "responses": {
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NashValidationError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/ai/detect-dropoff-anomaly": {
      "post": {
        "tags": [
          "AI Functions"
        ],
        "summary": "Detect dropoff anomalies for a delivery",
        "description": "Runs the dropoff anomaly detection agent over a delivery's photo + coordinates history.",
        "operationId": "detect_dropoff_anomaly_v1_ai_detect_dropoff_anomaly_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DetectDropoffAnomalyInputSerializer"
              }
            }
          },
          "required": true
        },
        "responses": {
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NashValidationError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/ai/mask-face-in-photo": {
      "post": {
        "tags": [
          "AI Functions"
        ],
        "summary": "Mask faces in a photo",
        "description": "Runs the face-masking agent; returns a URL for the masked copy.",
        "operationId": "mask_face_in_photo_v1_ai_mask_face_in_photo_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MaskFaceInPhotoInputSerializer"
              }
            }
          },
          "required": true
        },
        "responses": {
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NashValidationError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/ai/verify-photo": {
      "post": {
        "tags": [
          "AI Functions"
        ],
        "summary": "Verify a delivery photo via LLM",
        "description": "Runs the proof-of-delivery / pickup / signature photo verification agent against the latest matching photo attached to the job.",
        "operationId": "verify_photo_v1_ai_verify_photo_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyPhotoInputSerializer"
              }
            }
          },
          "required": true
        },
        "responses": {
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NashValidationError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/batch_job": {
      "post": {
        "tags": [
          "Batch Job"
        ],
        "summary": "Create Batch Job",
        "description": "Create a batch job containing multiple packages for multi-stop delivery. Each package has its own pickup and dropoff locations within a single job.",
        "operationId": "create_batch_job_v1_batch_job_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBatchJobInputSerializer"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReturnedBatchJobMixin"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NashValidationError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/contracts": {
      "get": {
        "tags": [
          "Contracts"
        ],
        "summary": "List Contracts",
        "description": "List contracts visible to the authenticated organization. Returns a slim summary payload by default; pass include=details for the full record. Supports keyset pagination via the cursor returned in next_cursor.",
        "operationId": "contracts_v1_list_contracts_route_get",
        "parameters": [
          {
            "name": "active_only",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Active Only",
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "provider_id",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Provider Id",
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "default": null
            }
          },
          {
            "name": "only_latest_version",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Only Latest Version",
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Include",
              "enum": [
                "summary",
                "details"
              ],
              "type": "string",
              "default": "summary"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Limit",
              "maximum": 500,
              "minimum": 1.0,
              "type": "integer",
              "default": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Cursor",
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "default": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListContractsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NashValidationError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/courier": {
      "post": {
        "tags": [
          "Couriers"
        ],
        "summary": "Create a courier",
        "description": "Register a new courier for the organization's internal fleet with contact and vehicle details.",
        "operationId": "create_courier_v1_courier_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCourierInputSerializer"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CourierResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NashValidationError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/couriers": {
      "get": {
        "tags": [
          "Couriers"
        ],
        "summary": "Get all couriers",
        "description": "List all couriers registered for the organization's internal fleet.",
        "operationId": "get_couriers_v1_couriers_get",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CourierResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NashValidationError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/delivery-window": {
      "post": {
        "tags": [
          "Delivery Windows"
        ],
        "summary": "Create a single delivery window",
        "description": "Create a delivery window defining an available time slot for scheduled deliveries. Delivery windows are associated with a store location and have capacity limits.",
        "operationId": "create_delivery_window_v1_delivery_window_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDeliveryWindowInputSerializer"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliveryWindowOutput"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NashValidationError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/delivery-window/{id}": {
      "get": {
        "tags": [
          "Delivery Windows"
        ],
        "summary": "Get a delivery window",
        "description": "Retrieve a single delivery window by ID, including its time slot, capacity, and status.",
        "operationId": "get_delivery_window_v1_delivery_window__string_id__get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the delivery window",
            "required": true,
            "schema": {
              "title": "Id",
              "type": "string",
              "description": "The id of the delivery window",
              "example": "dlw_abc|10:00|12:00|2025-10-22"
            },
            "example": "dlw_abc|10:00|12:00|2025-10-22"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliveryWindowOutput"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NashValidationError"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Delivery Windows"
        ],
        "summary": "Delete a delivery window",
        "description": "Delete a delivery window by ID. Deleted windows can be restored using the restore endpoint.",
        "operationId": "delete_delivery_window_v1_delivery_window__string_id__delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the delivery window",
            "required": true,
            "schema": {
              "title": "Id",
              "type": "string",
              "description": "The id of the delivery window",
              "example": "dlw_abc|10:00|12:00|2025-10-22"
            },
            "example": "dlw_abc|10:00|12:00|2025-10-22"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliveryWindowOutput"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NashValidationError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/delivery-window/{id}/disable": {
      "patch": {
        "tags": [
          "Delivery Windows"
        ],
        "summary": "Disable a delivery window",
        "description": "Disable a delivery window so it is no longer available for new bookings. Existing bookings are not affected.",
        "operationId": "disable_delivery_window_v1_delivery_window__string_id__disable_patch",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the delivery window",
            "required": true,
            "schema": {
              "title": "Id",
              "type": "string",
              "description": "The id of the delivery window",
              "example": "dlw_abc|10:00|12:00|2025-10-22"
            },
            "example": "dlw_abc|10:00|12:00|2025-10-22"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliveryWindowOutput"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NashValidationError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/delivery-window/{id}/enable": {
      "patch": {
        "tags": [
          "Delivery Windows"
        ],
        "summary": "Enable a delivery window",
        "description": "Enable a previously disabled delivery window, making it available for booking.",
        "operationId": "enable_delivery_window_v1_delivery_window__string_id__enable_patch",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the delivery window",
            "required": true,
            "schema": {
              "title": "Id",
              "type": "string",
              "description": "The id of the delivery window",
              "example": "dlw_abc|10:00|12:00|2025-10-22"
            },
            "example": "dlw_abc|10:00|12:00|2025-10-22"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliveryWindowOutput"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NashValidationError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/delivery-window/{id}/restore": {
      "patch": {
        "tags": [
          "Delivery Windows"
        ],
        "summary": "Restore a delivery window",
        "description": "Restore a previously deleted delivery window, making it active again.",
        "operationId": "restore_delivery_window_v1_delivery_window__string_id__restore_patch",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the delivery window",
            "required": true,
            "schema": {
              "title": "Id",
              "type": "string",
              "description": "The id of the delivery window",
              "example": "dlw_abc|10:00|12:00|2025-10-22"
            },
            "example": "dlw_abc|10:00|12:00|2025-10-22"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliveryWindowOutput"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NashValidationError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/delivery-windows": {
      "post": {
        "tags": [
          "Delivery Windows"
        ],
        "summary": "Create multiple delivery windows",
        "description": "Create multiple delivery windows in a single request. Each window defines an available time slot with capacity for a store location.",
        "operationId": "create_delivery_windows_v1_delivery_windows_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDeliveryWindowsInputSerializer"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliveryWindowsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NashValidationError"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Delivery Windows"
        ],
        "summary": "Delete multiple delivery windows",
        "description": "Delete multiple delivery windows in a single request. Deleted windows can be restored using the restore endpoint.",
        "operationId": "delete_delivery_windows_v1_delivery_windows_delete",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeliveryWindowsOperationInputSerializer"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliveryWindowOutput"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NashValidationError"
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Delivery Windows"
        ],
        "summary": "Update multiple delivery windows",
        "description": "Update multiple existing delivery windows in a single request. Only provided fields are updated for each window.",
        "operationId": "update_delivery_windows_v1_delivery_windows_patch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDeliveryWindowsInputSerializer"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliveryWindowsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NashValidationError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/delivery-windows/disable": {
      "patch": {
        "tags": [
          "Delivery Windows"
        ],
        "summary": "Disable multiple delivery windows",
        "description": "Disable multiple delivery windows in a single request so they are no longer available for new bookings.",
        "operationId": "disable_delivery_windows_v1_delivery_windows_disable_patch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeliveryWindowsOperationInputSerializer"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliveryWindowsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NashValidationError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/delivery-windows/enable": {
      "patch": {
        "tags": [
          "Delivery Windows"
        ],
        "summary": "Enable multiple delivery windows",
        "description": "Enable multiple previously disabled delivery windows in a single request.",
        "operationId": "enable_delivery_windows_v1_delivery_windows_enable_patch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeliveryWindowsOperationInputSerializer"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliveryWindowsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NashValidationError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/delivery-windows/restore": {
      "patch": {
        "tags": [
          "Delivery Windows"
        ],
        "summary": "Restore multiple delivery windows",
        "description": "Restore multiple previously deleted delivery windows in a single request.",
        "operationId": "restore_delivery_windows_v1_delivery_windows_restore_patch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeliveryWindowsOperationInputSerializer"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliveryWindowsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NashValidationError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/delivery-windows/upsert": {
      "post": {
        "tags": [
          "Delivery Windows"
        ],
        "summary": "Upsert multiple delivery windows",
        "description": "Create or update multiple delivery windows in a single request. Existing windows are matched by ID for updates; new windows are created.",
        "operationId": "upsert_delivery_windows_v1_delivery_windows_upsert_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDeliveryWindowsInputSerializer"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliveryWindowsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NashValidationError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/dispatch-and-manifest": {
      "post": {
        "tags": [
          "Shipping"
        ],
        "summary": "Dispatch and Manifest Orders",
        "description": "Create, autodispatch, and manifest shipping orders in a single request. Each order is created, autodispatched using the org's dispatch strategy, then manifested with the provider it landed on. Per-order failures are returned in `errors` instead of aborting the batch. `shippingDetails` on an order, if provided, is folded into `orderMetadata.shipping_details` before create so providers can consume it during manifest.",
        "operationId": "dispatch_and_manifest_v1_dispatch_and_manifest_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DispatchAndManifestInputSerializer"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DispatchAndManifestResponseSerializer"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NashValidationError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/dispatch/evaluate": {
      "post": {
        "tags": [
          "Dispatch Strategies"
        ],
        "summary": "Evaluate dynamic dispatch",
        "description": "Evaluate dispatch rules and rank providers without creating a job or order.",
        "operationId": "evaluate_dispatch_v1_dispatch_evaluate_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EvaluateDispatchInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EvaluateDispatchOutput"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NashValidationError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/eligible_delivery_windows": {
      "get": {
        "tags": [
          "Delivery Windows"
        ],
        "summary": "Get eligible delivery windows for order",
        "description": "Find delivery windows available for a specific order based on the order's store location and requirements. Requires either order_id or external_order_id. Optionally filter by time range and requested capacity.",
        "operationId": "get_eligible_delivery_windows_v1_eligible_delivery_windows_get",
        "parameters": [
          {
            "name": "orderId",
            "in": "query",
            "description": "The order for which to return eligible delivery windows.",
            "required": false,
            "schema": {
              "title": "Orderid",
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "The order for which to return eligible delivery windows.",
              "default": null,
              "example": "ord_1234567890"
            },
            "example": "ord_1234567890"
          },
          {
            "name": "externalOrderId",
            "in": "query",
            "description": "The external order id for which to return eligible delivery windows.",
            "required": false,
            "schema": {
              "title": "Externalorderid",
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "The external order id for which to return eligible delivery windows.",
              "default": null,
              "example": "ext_1234567890"
            },
            "example": "ext_1234567890"
          },
          {
            "name": "startTime",
            "in": "query",
            "description": "The range start for delivery windows.",
            "required": true,
            "schema": {
              "title": "Starttime",
              "type": "string",
              "description": "The range start for delivery windows.",
              "format": "date-time",
              "example": "2024-10-06T00:00:00Z"
            },
            "example": "2024-10-06T00:00:00Z"
          },
          {
            "name": "endTime",
            "in": "query",
            "description": "The range end for delivery windows.",
            "required": true,
            "schema": {
              "title": "Endtime",
              "type": "string",
              "description": "The range end for delivery windows.",
              "format": "date-time",
              "example": "2024-10-07T00:00:00Z"
            },
            "example": "2024-10-07T00:00:00Z"
          },
          {
            "name": "requestedCapacity",
            "in": "query",
            "description": "Optionally specify the requested capacity for the delivery windows.",
            "required": false,
            "schema": {
              "title": "Requestedcapacity",
              "anyOf": [
                {
                  "type": "number"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Optionally specify the requested capacity for the delivery windows.",
              "default": null,
              "example": 10.0
            },
            "example": 10.0
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EligibleDeliveryWindowsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NashValidationError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/feedback/external_identifier/{external_identifier}": {
      "post": {
        "tags": [
          "Feedback"
        ],
        "summary": "Add Delivery Feedback by External Identifier",
        "description": "Submit feedback for a completed delivery using your external identifier instead of the Nash delivery ID.",
        "operationId": "add_delivery_feedback_by_external_id_v1_feedback_external_identifier__string_external_identifier__post",
        "parameters": [
          {
            "name": "externalIdentifier",
            "in": "path",
            "description": "External identifier for the job",
            "required": true,
            "schema": {
              "title": "Externalidentifier",
              "type": "string",
              "description": "External identifier for the job",
              "example": "ext_123"
            },
            "example": "ext_123"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddFeedbackInputSerializer"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeedbackOutputSerializer"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NashValidationError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/feedback/{delivery_id}": {
      "post": {
        "tags": [
          "Feedback"
        ],
        "summary": "Add Delivery Feedback",
        "description": "Submit feedback for a completed delivery, such as a rating or comments about the delivery experience.",
        "operationId": "add_delivery_feedback_v1_feedback__string_delivery_id__post",
        "parameters": [
          {
            "name": "deliveryId",
            "in": "path",
            "description": "Delivery ID",
            "required": true,
            "schema": {
              "title": "Deliveryid",
              "type": "string",
              "description": "Delivery ID",
              "example": "dlv_123"
            },
            "example": "dlv_123"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddFeedbackInputSerializer"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeedbackOutputSerializer"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NashValidationError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/flags": {
      "post": {
        "tags": [
          "Annotate"
        ],
        "summary": "Create Flag",
        "description": "Create a flag annotation on a delivery or job to mark it for attention or follow-up.",
        "operationId": "create_flag_v1_flags_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFlagInputSerializer"
              }
            }
          },
          "required": true
        },
        "responses": {
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NashValidationError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/fleet/deliveries": {
      "patch": {
        "tags": [
          "Fleet"
        ],
        "summary": "Bulk Update Deliveries",
        "description": "Apply updates to up to 100 deliveries in a single request. Each item is keyed by exactly one of `deliveryId` or `packageExternalIdentifier` (your own id set on the package at creation), plus the same field set as the single-delivery endpoint. The per-item result echoes back the key you sent under `deliveryId`. Per-item failures come back as a structured error in the response and do not affect the rest of the batch.",
        "operationId": "deliveries_v1_bulk_update_deliveries_route_patch",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkDeliveryUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkDeliveryUpdateResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NashValidationError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/fleet/deliveries/{delivery_id}": {
      "patch": {
        "tags": [
          "Fleet"
        ],
        "summary": "Update Delivery",
        "description": "Apply a partial update \u2014 such as status, courier location, proof of delivery, courier identity, or ETAs \u2014 to a delivery your organization owns. Only available for deliveries fulfilled by your own fleet (not by a third-party courier integration). Returns the updated delivery.",
        "operationId": "deliveries_v1_update_delivery_route__delivery_id__patch",
        "parameters": [
          {
            "name": "delivery_id",
            "in": "path",
            "description": "The Nash delivery id to update.",
            "required": true,
            "schema": {
              "title": "Delivery Id",
              "type": "string",
              "description": "The Nash delivery id to update."
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeliveryUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliverySerializer"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NashValidationError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/health-check": {
      "get": {
        "tags": [
          "Miscellaneous"
        ],
        "summary": "Server Health Check",
        "description": "Returns the current server status. Use this to verify API connectivity and availability.",
        "operationId": "public_health_check_endpoint_v1_health_check_get",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthCheckResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NashValidationError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/inventory": {
      "get": {
        "tags": [
          "Store Catalog"
        ],
        "summary": "Get inventory",
        "description": "List inventory levels with pagination. Filter by external store location ID or external product ID.",
        "operationId": "get_inventory_pagination_v1_inventory_get",
        "parameters": [
          {
            "name": "pageIndex",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Pageindex",
              "minimum": 0.0,
              "type": "integer",
              "default": 0,
              "example": 0
            },
            "example": 0
          },
          {
            "name": "numResultsPerPage",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Numresultsperpage",
              "minimum": 1.0,
              "type": "integer",
              "default": 100,
              "example": 100
            },
            "example": 100
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Search",
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "default": null,
              "example": "organic apples"
            },
            "example": "organic apples"
          },
          {
            "name": "ids",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Ids",
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "default": null,
              "example": "pro_123,pro_456"
            },
            "example": "pro_123,pro_456"
          },
          {
            "name": "skus",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Skus",
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "default": null,
              "example": "SKU-001,SKU-002"
            },
            "example": "SKU-001,SKU-002"
          },
          {
            "name": "semanticSearch",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Semanticsearch",
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "default": null,
              "example": "fresh fruit for smoothies"
            },
            "example": "fresh fruit for smoothies"
          },
          {
            "name": "externalStoreLocationId",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Externalstorelocationid",
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "default": null
            }
          },
          {
            "name": "externalProductId",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Externalproductid",
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "default": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InventoryPaginationOutput"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NashValidationError"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Store Catalog"
        ],
        "summary": "Create or update inventory",
        "description": "Create or update inventory levels for products at specific store locations. Links products to store locations with quantity and availability information.",
        "operationId": "upsert_inventory_v1_inventory_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreInventoryListInputSerializer"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StoreInventoryListOutputSerializer"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NashValidationError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/jobs": {
      "get": {
        "tags": [
          "Job"
        ],
        "summary": "List/Search Jobs",
        "description": "List jobs (deliveries) with filters, sorting, and pagination. Returns a slim payload suitable for discovery; use GET /v1/jobs/<id> for full details.",
        "operationId": "list_jobs_v1_jobs_get",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Limit",
              "maximum": 100,
              "minimum": 1.0,
              "type": "integer",
              "default": 25,
              "example": 25
            },
            "example": 25
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "title": "Offset",
              "minimum": 0.0,
              "type": "integer",
              "default": 0,
              "example": 0
            },
            "example": 0
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Sort field (e.g. created_at, pickup_start_time)",
            "required": false,
            "schema": {
              "title": "Sortby",
              "type": "string",
              "description": "Sort field (e.g. created_at, pickup_start_time)",
              "default": "created_at"
            }
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "ASC or DESC",
            "required": false,
            "schema": {
              "title": "Sortdirection",
              "type": "string",
              "description": "ASC or DESC",
              "default": "DESC"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Defaults to 3 days ago.",
            "required": false,
            "schema": {
              "title": "Startdate",
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Defaults to 3 days ago.",
              "default": null
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Defaults to 7 days from now so in-flight and scheduled deliveries are included.",
            "required": false,
            "schema": {
              "title": "Enddate",
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Defaults to 7 days from now so in-flight and scheduled deliveries are included.",
              "default": null
            }
          },
          {
            "name": "deliveryStatuses",
            "in": "query",
            "description": "Comma-separated delivery statuses (e.g. created,accepted_by_courier,delivered)",
            "required": false,
            "schema": {
              "title": "Deliverystatuses",
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Comma-separated delivery statuses (e.g. created,accepted_by_courier,delivered)",
              "default": null
            }
          },
          {
            "name": "providerNames",
            "in": "query",
            "description": "Comma-separated provider names",
            "required": false,
            "schema": {
              "title": "Providernames",
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Comma-separated provider names",
              "default": null
            }
          },
          {
            "name": "courierNames",
            "in": "query",
            "description": "Comma-separated courier names",
            "required": false,
            "schema": {
              "title": "Couriernames",
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Comma-separated courier names",
              "default": null
            }
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Comma-separated job tags",
            "required": false,
            "schema": {
              "title": "Tags",
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Comma-separated job tags",
              "default": null
            }
          },
          {
            "name": "packageTags",
            "in": "query",
            "description": "Comma-separated package tags",
            "required": false,
            "schema": {
              "title": "Packagetags",
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Comma-separated package tags",
              "default": null
            }
          },
          {
            "name": "pickupStoreLocationIds",
            "in": "query",
            "description": "Comma-separated",
            "required": false,
            "schema": {
              "title": "Pickupstorelocationids",
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Comma-separated",
              "default": null
            }
          },
          {
            "name": "dropoffStoreLocationIds",
            "in": "query",
            "description": "Comma-separated",
            "required": false,
            "schema": {
              "title": "Dropoffstorelocationids",
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Comma-separated",
              "default": null
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Free-form search across IDs, external identifiers, short reference codes, addresses, and courier/customer names. For an exact match on a single field, use the dedicated filter (e.g. short_reference_code).",
            "required": false,
            "schema": {
              "title": "Search",
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Free-form search across IDs, external identifiers, short reference codes, addresses, and courier/customer names. For an exact match on a single field, use the dedicated filter (e.g. short_reference_code).",
              "default": null
            }
          },
          {
            "name": "shortReferenceCode",
            "in": "query",
            "description": "Exact match on the 7-digit short reference code shown on delivery cards. Codes are non-unique; multiple jobs may be returned. When provided, the default date window is widened to 90 days so older jobs are discoverable.",
            "required": false,
            "schema": {
              "title": "Shortreferencecode",
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Exact match on the 7-digit short reference code shown on delivery cards. Codes are non-unique; multiple jobs may be returned. When provided, the default date window is widened to 90 days so older jobs are discoverable.",
              "default": null
            }
          },
          {
            "name": "customerName",
            "in": "query",
            "description": "Fuzzy, case-insensitive substring match on the end customer's name (pickup or dropoff full name) over the denormalized task. Use this to locate a delivery when the caller only knows the customer's name. Matches names only \u2014 not business names, addresses, or courier names (use `search` for broader free-form matching). When provided, the default date window is widened to 90 days so older deliveries are discoverable.",
            "required": false,
            "schema": {
              "title": "Customername",
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Fuzzy, case-insensitive substring match on the end customer's name (pickup or dropoff full name) over the denormalized task. Use this to locate a delivery when the caller only knows the customer's name. Matches names only \u2014 not business names, addresses, or courier names (use `search` for broader free-form matching). When provided, the default date window is widened to 90 days so older deliveries are discoverable.",
              "default": null
            }
          },
          {
            "name": "isBatch",
            "in": "query",
            "description": "Filter to batch jobs only",
            "required": false,
            "schema": {
              "title": "Isbatch",
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter to batch jobs only",
              "default": null
            }
          },
          {
            "name": "hasNotes",
            "in": "query",
            "description": "Filter to jobs with notes",
            "required": false,
            "schema": {
              "title": "Hasnotes",
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Filter to jobs with notes",
              "default": null
            }
          },
          {
            "name": "city",
            "in": "query",
            "description": "Comma-separated pickup/dropoff cities",
            "required": false,
            "schema": {
              "title": "City",
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Comma-separated pickup/dropoff cities",
              "default": null
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Comma-separated pickup/dropoff states",
            "required": false,
            "schema": {
              "title": "State",
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Comma-separated pickup/dropoff states",
              "default": null
            }
          },
          {
            "name": "country",
            "in": "query",
            "description": "Comma-separated pickup/dropoff countries",
            "required": false,
            "schema": {
              "title": "Country",
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Comma-separated pickup/dropoff countries",
              "default": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobsListResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NashValidationError"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Job"
        ],
        "summary": "Create Job",
        "description": "Create a new delivery job with pickup and dropoff details. A job represents a post-dispatch delivery request. Set quote_request_only=true to get price quotes without dispatching.",
        "operationId": "create_job_v1_jobs_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateJobInputSerializer"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReturnedJobMixin"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NashValidationError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/jobs/external_identifier/{externalIdentifier}": {
      "get": {
        "tags": [
          "Job"
        ],
        "summary": "Get Job by External Identifier",
        "description": "Retrieve a job using your external identifier instead of the Nash job ID. Useful when integrating with external systems that track their own order IDs.",
        "operationId": "get_job_by_external_id_v1_jobs_external_identifier__string_externalIdentifier__get",
        "parameters": [
          {
            "name": "externalIdentifier",
            "in": "path",
            "description": "job external identifier",
            "required": true,
            "schema": {
              "title": "Externalidentifier",
              "type": "string",
              "description": "job external identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReturnedJobMixin"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NashValidationError"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Job"
        ],
        "summary": "Create or Update Job by External Identifier",
        "description": "Create a new job or update an existing one using your external identifier. If a job with the given external identifier exists, it is updated; otherwise a new job is created. Set autodispatch=true to automatically dispatch after creation.",
        "operationId": "create_or_update_job_by_external_id_v1_jobs_external_identifier__string_externalIdentifier__post",
        "parameters": [
          {
            "name": "externalIdentifier",
            "in": "path",
            "description": "job external identifier",
            "required": true,
            "schema": {
              "title": "Externalidentifier",
              "type": "string",
              "description": "job external identifier"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateJobInputSerializerAndAutodispatch"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReturnedJobMixin"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NashValidationError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/jobs/external_identifier/{externalIdentifier}/autodispatch": {
      "post": {
        "tags": [
          "Job"
        ],
        "summary": "Autodispatch job by external identifier",
        "description": "Automatically dispatch an existing job using your external identifier. Requests quotes from providers and selects the best one based on the organization's dispatch strategy.",
        "operationId": "autodispatch_job_by_external_id_v1_jobs_external_identifier__string_externalIdentifier__autodispatch_post",
        "parameters": [
          {
            "name": "externalIdentifier",
            "in": "path",
            "description": "job external identifier",
            "required": true,
            "schema": {
              "title": "Externalidentifier",
              "type": "string",
              "description": "job external identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FullJobPayload"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NashValidationError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/jobs/external_identifier/{externalIdentifier}/cancel": {
      "post": {
        "tags": [
          "Job"
        ],
        "summary": "Cancel Job by External Identifier",
        "description": "Cancel an active job using your external identifier. Cancels the delivery with the assigned provider and updates the job status.",
        "operationId": "_cancel_job_by_external_identifier_v1_jobs_external_identifier__string_externalIdentifier__cancel_post",
        "parameters": [
          {
            "name": "externalIdentifier",
            "in": "path",
            "description": "job external identifier",
            "required": true,
            "schema": {
              "title": "Externalidentifier",
              "type": "string",
              "description": "job external identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FullJobPayload"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NashValidationError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/jobs/{id}": {
      "get": {
        "tags": [
          "Job"
        ],
        "summary": "Get Job",
        "description": "Retrieve a job by its ID, including all job configurations, tasks, deliveries, and quotes. Pass `compressed_payload=true` by default \u2014 it drops the quotes and failedQuotes arrays and collapses advancedTask to just its id, which typically shrinks the response 10x+. Only omit it (or pass false) when the caller explicitly needs quote details: pricing, provider selection, or failed-dispatch error messages.",
        "operationId": "get_job_v1_jobs__string_id__get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "job id",
            "required": true,
            "schema": {
              "title": "Id",
              "type": "string",
              "description": "job id"
            }
          },
          {
            "name": "compressedPayload",
            "in": "query",
            "description": "Return a slimmer job payload by excluding the full `quotes` and `failedQuotes` arrays and reducing `advancedTask` to just `{id}`. Prefer `compressed_payload=true` by default for status / ETA / tracking / cancellation flows \u2014 it can shrink responses by 10x+ on jobs that shopped many providers. Set to false (or omit) only when the caller needs quote data: pricing breakdowns, provider selection rationale, or failed-dispatch error messages.",
            "required": false,
            "schema": {
              "title": "Compressedpayload",
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Return a slimmer job payload by excluding the full `quotes` and `failedQuotes` arrays and reducing `advancedTask` to just `{id}`. Prefer `compressed_payload=true` by default for status / ETA / tracking / cancellation flows \u2014 it can shrink responses by 10x+ on jobs that shopped many providers. Set to false (or omit) only when the caller needs quote data: pricing breakdowns, provider selection rationale, or failed-dispatch error messages.",
              "default": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReturnedJobMixin"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NashValidationError"
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Job"
        ],
        "summary": "Update Job by JobID/ExternalIdentifier",
        "description": "Update an existing job's details such as pickup/dropoff times, addresses, or metadata. The id can be a Nash job ID or your external identifier.",
        "operationId": "update_job_v1_jobs__string_id__patch",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Job ID or External Identifier",
            "required": true,
            "schema": {
              "title": "Id",
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Job ID or External Identifier"
            }
          },
          {
            "name": "jobConfigurationId",
            "in": "path",
            "description": "Job Configuration ID (for updating a package in a batch job)",
            "required": true,
            "schema": {
              "title": "Jobconfigurationid",
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Job Configuration ID (for updating a package in a batch job)",
              "default": null
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateJobInputSerializer"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReturnedJobMixin"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NashValidationError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/jobs/{id}/autodispatch": {
      "post": {
        "tags": [
          "Job"
        ],
        "summary": "Autodispatch job",
        "description": "Automatically dispatch an existing job using the organization's dispatch strategy. Requests quotes from providers and selects the best one based on configured rules.",
        "operationId": "autodispatch_job_v1_jobs__string_id__autodispatch_post",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "job id",
            "required": true,
            "schema": {
              "title": "Id",
              "type": "string",
              "description": "job id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FullJobPayload"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NashValidationError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/jobs/{id}/rebook": {
      "post": {
        "tags": [
          "Job"
        ],
        "summary": "Rebook Job",
        "description": "Cancel the existing job and create a new one with updated details. The original job is canceled before the new job is created from the provided data.",
        "operationId": "rebook_job_v1_jobs__string_id__rebook_post",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "job id",
            "required": true,
            "schema": {
              "title": "Id",
              "type": "string",
              "description": "job id"
            }
          },
          {
            "name": "compressedPayload",
            "in": "query",
            "description": "Return a slimmer job payload by excluding the full `quotes` and `failedQuotes` arrays and reducing `advancedTask` to just `{id}`. Prefer `compressed_payload=true` by default for status / ETA / tracking / cancellation flows \u2014 it can shrink responses by 10x+ on jobs that shopped many providers. Set to false (or omit) only when the caller needs quote data: pricing breakdowns, provider selection rationale, or failed-dispatch error messages.",
            "required": false,
            "schema": {
              "title": "Compressedpayload",
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Return a slimmer job payload by excluding the full `quotes` and `failedQuotes` arrays and reducing `advancedTask` to just `{id}`. Prefer `compressed_payload=true` by default for status / ETA / tracking / cancellation flows \u2014 it can shrink responses by 10x+ on jobs that shopped many providers. Set to false (or omit) only when the caller needs quote data: pricing breakdowns, provider selection rationale, or failed-dispatch error messages.",
              "default": null
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RebookJobBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReturnedJobMixin"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NashValidationError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/jobs/{id}/refresh": {
      "post": {
        "tags": [
          "Job"
        ],
        "summary": "Refresh job",
        "description": "Refresh a job's status by fetching the latest delivery information from the assigned provider. Useful for syncing state when provider webhooks may have been missed.",
        "operationId": "refresh_job_v1_jobs__string_id__refresh_post",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "job id",
            "required": true,
            "schema": {
              "title": "Id",
              "type": "string",
              "description": "job id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FullJobPayload"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NashValidationError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/jobs/{id}/{jobConfigurationId}": {
      "patch": {
        "tags": [
          "Batch Job"
        ],
        "summary": "Update Job by JobID/ExternalIdentifier and Job Configuration ID",
        "description": "Update a specific package within a batch job. Use the job configuration ID to target a particular package's details.",
        "operationId": "update_job_v1_jobs__string_id___string_jobConfigurationId__patch",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Job ID or External Identifier",
            "required": true,
            "schema": {
              "title": "Id",
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Job ID or External Identifier"
            }
          },
          {
            "name": "jobConfigurationId",
            "in": "path",
            "description": "Job Configuration ID (for updating a package in a batch job)",
            "required": true,
            "schema": {
              "title": "Jobconfigurationid",
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Job Configuration ID (for updating a package in a batch job)",
              "default": null
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateJobInputSerializer"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReturnedBatchJobMixin"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NashValidationError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/jobs/{jobId}/batch/{batchId}/refresh_quotes": {
      "post": {
        "tags": [
          "Batch Job"
        ],
        "summary": "Refresh Quotes by Job ID and Batch ID",
        "description": "Request fresh price quotes from delivery providers for all tasks in a batch. Replaces existing quotes with updated pricing for the entire batch.",
        "operationId": "refresh_quotes_batch_v1_jobs__string_jobId__batch__string_batchId__refresh_quotes_post",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "job id",
            "required": true,
            "schema": {
              "title": "Jobid",
              "type": "string",
              "description": "job id"
            }
          },
          {
            "name": "batchId",
            "in": "path",
            "description": "batch id",
            "required": true,
            "schema": {
              "title": "Batchid",
              "type": "string",
              "description": "batch id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefreshBatchQuotesOutputSerializer"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NashValidationError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/jobs/{jobId}/cancel": {
      "post": {
        "tags": [
          "Job"
        ],
        "summary": "Cancel Job by Job ID",
        "description": "Cancel an active job and its associated deliveries. Cancels the delivery with the assigned provider and updates the job status.",
        "operationId": "cancel_job_v1_jobs__string_jobId__cancel_post",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "job id",
            "required": true,
            "schema": {
              "title": "Jobid",
              "type": "string",
              "description": "job id"
            }
          },
          {
            "name": "objectId",
            "in": "path",
            "description": "Task ID or Job Configuration ID",
            "required": true,
            "schema": {
              "title": "Objectid",
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Task ID or Job Configuration ID",
              "default": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FullJobPayload"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NashValidationError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/jobs/{jobId}/tasks/{taskId}/delivery_incident": {
      "post": {
        "tags": [
          "Job"
        ],
        "summary": "Create delivery incident",
        "description": "Report a delivery incident such as a damaged package, missing items, or late delivery. Creates an incident record linked to the specified task.",
        "operationId": "delivery_incident_v1_jobs__string_jobId__tasks__string_taskId__delivery_incident_post",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "job id",
            "required": true,
            "schema": {
              "title": "Jobid",
              "type": "string",
              "description": "job id"
            }
          },
          {
            "name": "taskId",
            "in": "path",
            "description": "task id",
            "required": true,
            "schema": {
              "title": "Taskid",
              "type": "string",
              "description": "task id"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeliveryIncidentInputSerializer"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeliveryIncidentOutputSerializer"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NashValidationError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/jobs/{jobId}/tasks/{taskId}/quotes": {
      "post": {
        "tags": [
          "Job"
        ],
        "summary": "Select Quote by Job ID and Task ID",
        "description": "Select the winning quote for a specific task within a job. Deprecated: prefer the Select Quote endpoint instead.",
        "operationId": "select_quote_task_v1_jobs__string_jobId__tasks__string_taskId__quotes_post",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "job id",
            "required": true,
            "schema": {
              "title": "Jobid",
              "type": "string",
              "description": "job id"
            }
          },
          {
            "name": "taskId",
            "in": "path",
            "description": "task id",
            "required": true,
            "schema": {
              "title": "Taskid",
              "type": "string",
              "description": "task id"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SelectQuoteInputSerializer"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelectTaskQuoteOutputSerializer"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NashValidationError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/jobs/{jobId}/tasks/{taskId}/refresh_quotes": {
      "post": {
        "tags": [
          "Job"
        ],
        "summary": "Refresh Quotes by Job ID and Task ID",
        "description": "Request fresh price quotes from delivery providers for a specific task. Replaces any existing quotes with updated pricing.",
        "operationId": "refresh_quotes_task_v1_jobs__string_jobId__tasks__string_taskId__refresh_quotes_post",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "job id",
            "required": true,
            "schema": {
              "title": "Jobid",
              "type": "string",
              "description": "job id"
            }
          },
          {
            "name": "taskId",
            "in": "path",
            "description": "task id",
            "required": true,
            "schema": {
              "title": "Taskid",
              "type": "string",
              "description": "task id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefreshQuotesOutputSerializer"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NashValidationError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/jobs/{jobId}/{objectId}/cancel": {
      "post": {
        "tags": [
          "Batch Job"
        ],
        "summary": "Cancel Job by Job ID and Task or Job Configuration ID",
        "description": "Cancel a specific task or job configuration within a batch job. The objectId can be a task ID (tsk_ prefix) or job configuration ID (cfg_ prefix).",
        "operationId": "cancel_job_v1_jobs__string_jobId___string_objectId__cancel_post",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "job id",
            "required": true,
            "schema": {
              "title": "Jobid",
              "type": "string",
              "description": "job id"
            }
          },
          {
            "name": "objectId",
            "in": "path",
            "description": "Task ID or Job Configuration ID",
            "required": true,
            "schema": {
              "title": "Objectid",
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Task ID or Job Configuration ID",
              "default": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FullJobPayload"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NashValidationError"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/jobs/{jobId}/{taskId}/reassign": {
      "post": {
        "tags": [
[...]
